/* TAGLINE (customizing line breaks + it and "coming soon!"'s top positions) -------------------------------------------------- */

@media only screen and (min-width: 268px) {
    .taglinehalf {
        display: inline-block;    }
}
 
@media only screen and (min-width: 284px) {
    .taglinehalf {
        display: inline;    }
    #comingsoonbox {
        top: calc(10.714vw + 14.7rem);    }
}

@media only screen and (min-width: 343px) {
    .taglinehalf {
        display: inline-block;    }
}

@media only screen and (min-width: 427px) {
    .taglinehalf {
        display: inline;    }
    #comingsoonbox {
        top: calc(10.714vw + 13.2rem);    }
}




/* 295px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 295px) {
    
    /* POSTGLASSES -------------------------------------------------- */

    .postglasses {
        /* width: 126.289px; */    }
    
}    /* 295px ++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* 408px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* @media only screen and (min-width: 408px) { */
@media only screen and (min-width: 409px) {
    
    /* FOOTER HEIGHT (set by body's bottom padding) -------------------------------------------------- */

    body {
        padding-bottom: calc(32.142vw + 9.453rem);    }

}    /* 408px ++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* 442px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 442px) {

    /* TAGLINE (customizing tagline's and "coming soon!"'s top positions) -------------------------------------------------- */

    #tagline {
        top: calc(10.714vw + 7rem);    }
    #comingsoonbox {
        top: calc(10.714vw + 11.2rem);    }

    /* TEXT -------------------------------------------------- */

    html {
        font-size: 3.620vw;    }
    .xs-display {
        font-size: 0.443rem;    }
    .untilthen {
        text-align: justify;    }

    /* POSTGLASSES -------------------------------------------------- */

    .postglasses {
        /* width: 28.571vw; */    } /* 8/28 cols */

    /* SUBSCRIBE -------------------------------------------------- */

    /* Subscribe input field + button on same line  */
    .subscribebutton {
        border-left: 0;
        position: relative;
        top: -1px;
        margin-top: 0;
        width: 5.3125rem;    }
    #mce-EMAIL {    /* Making subscribe input field 2/3 */
        float: left;
        width: calc(78.571vw - 5.3125rem);    }

    /* FOOTER HEIGHT (set by body's bottom padding) -------------------------------------------------- */

    footer {
        padding: 7.143vw 0;    /* 3/28 cols to pad top and bottom of yellow BG */
        margin-top: 7.143vw;    }
    body {
        padding-bottom: calc(21.429vw + 6.641rem);    }

}    /* 442px ++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* POSTGLASSES -------------------------------------------------- */

@media only screen and (min-width: 613px) {
    .postglasses {
        /* width: 175px; */    }
}




/* 650px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 650px) {

    /* TEXT -------------------------------------------------- */

    html {
        font-size: 23.529px;    }
    #comingsoonbox {
        width: 510px;
        left: calc(50vw - 255px);    }


}    /* 650px ++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* 783px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 783px) {    /* This is the content-width equivalent of 1175px screenwidth's content width */
    
    /* SUBSCRIBE -------------------------------------------------- */

    /* Subscribe + follow on same line */
    #mce-EMAIL {    /* Making subscribe input field account for the "follow" links */
        float: left;
        width: calc(78.571vw - 14.0545rem);    }    
    #follow {
        position: absolute;
        top: 7.143vw;
        left: calc(50% + 39.286vw - 8.32rem);    }
    #footercontent {
        width: 78.571vw;    }    /* 22/28 cols */
    #subscribemessage {
        margin-bottom: 0;    }

    /* FOOTER HEIGHT (set by body's bottom padding) -------------------------------------------------- */

    body {
        padding-bottom: calc(21.429vw + 3.9285rem);    }

}    /* 783px ++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* 817px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 817px) {

    /* CONTENT AREA WIDTH -------------------------------------------------- */

    h1 {
        top: 88px;    }
    #tagline {
        top: 255px;    }
    #comingsoonbox {
        width: 641.929px;
        left: calc(50vw - 320.965px);
        top: 360px;    }

    /* SUBSCRIBE -------------------------------------------------- */

    #mce-EMAIL {    /* Making subscribe input field account for the "follow" links */
        width: calc(641.929px - 14.0545rem);    }    
    #follow {
        top: 58.357px;
        left: calc(50% + 320.964px - 8.32rem);    }
    #footercontent {
        width: 641.929px;    }    /* 22/28 cols px equivalent at 817px screenwidth */

    /* FOOTER HEIGHT (set by body's bottom padding) -------------------------------------------------- */

    footer {
        padding: 58.357px 0;    /* 3/28 cols to pad top and bottom of yellow BG */
        margin-top: 58.357px;    }
    body {
        /* margin-top: 88px; */
        padding-bottom: calc(175.071px + 3.9285rem);    }

    /* INPUT FIELD WIDTH (?) -------------------------------------------------- */

    .boxinput {
        width: 641.919px;    }    /* 22/28 cols px equivalent at 817px screenwidth */


    /* TEXT -------------------------------------------------- */
    
    #comingsoon {
        font-size: 30.457px;
        font-size: 1.904rem;    }

    .untilthen {
        font-size: 12.5px;
        font-size: 0.781rem;    }
        
    .untilthen:last-of-type {
        font-size: 10.417px;
        font-size: 0.651rem;    }

}    /* 817px ++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* 923px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 923px) {

    .taglinehalf {
        display: inline-block;    }

}    /* 923px ++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* 1017px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 1017px) {

    #tagline {
        top: 200px;    }
    #comingsoonbox {
        top: 300px;    }

}    /* 1017px ++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* 1225px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 1225px) {

    /* TEXT -------------------------------------------------- */

    html {
        font-size: 24.531px;    }


    /* CONTENT AREA WIDTH -------------------------------------------------- */    

    #comingsoonbox {
        width: 641.929px;
        left: calc(50vw - 320.965px);    }

    /* POSTGLASSES -------------------------------------------------- */

    .big-postglasses {
        width: 260px;    }

    .medium-postglasses {
        width: 196px;    } 

    .small-postglasses {
        width: 132px;    } 

    /* SUBSCRIBE -------------------------------------------------- */

    #mce-EMAIL {    /* Making subscribe input field account for the "follow" links */
        width: calc(641.667px - 14.0545rem);    }
    #follow {
        top: 58.333px;
        left: calc(50% + 320.833px - 8.32rem);    }
    #footercontent {
        width: 641.667px;    }    /* 22/28 cols px equivalent at 817px screenwidth */
    .subscribebutton {
        top: 0;    }

    /* FOOTER HEIGHT (set by body's bottom padding) -------------------------------------------------- */

    footer {
        padding: 58.333px 0;    /* 3/28 cols to pad top and bottom of yellow BG */
        margin-top: 58.333px;    }
    body {
        padding-bottom: calc(175px + 3.9285rem);    }

    /* INPUT FIELD WIDTH (?) -------------------------------------------------- */

    .boxinput {
        width: 641.667px;    }    /* 11/21 cols */


}    /* 1225px ++++++++++++++++++++++++++++++++++++++++++++++++++ */



/* 1292px ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 1292px) {

    #comingsoonbox {
        top: 263px;    }

}    /* 1292px ++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* 1559px This is when the CCG title banner reaches max width ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media only screen and (min-width: 1559px) {

    h1,
    #tagline {
        left: calc(50vw - 612.5px);    }

}    /* 1559px ++++++++++++++++++++++++++++++++++++++++++++++++++ */




/* PREVENTING HORIZONTAL SCROLLING (FOR SLIDESHOWS) -------------------------------------------------- */
/* This is not a mediquery */

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
















