/* THIS HOLDS THE CLASSES AND IDS (AND THEIR STYLES) ISOLATED FOR JUST THE DESKTOP MENU
TO INCORPORATE RESPONSIVITY, THESE CLASSES AND IDS SHOULD MATCH EXACTLY THE ONES FOR THE DESKTOP MENU.
THEIR PROPERTIES CAN BE ADJUSTED FOR RESPONSIVITY, BUT ULTIMATELY THEY WILL REFER TO JUST ONE HTML */

nav {   }

#navdetails {    /* Holds together nav search, About, Archive, and Library items */
    float: right;    /* Pushes the group as a whole to the right */
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;    /* ----- Replace with actual measurement ----- */
}

#navdetails[open] {
    background-color: #e2e43a;
}

#navdetails[open] #navsummary {
    background-image: url('../images/x.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 14px;
    width: 14px;
    float: right;
    cursor: pointer;
}

#navsummary {
    background-image: url('../images/hamburger.svg');
    background-position: center;
    background-repeat: no-repeat;
    float: right; 
    height: 14px;
    width: 17px;
    content: " ";
    border-color: transparent;
    border-style: solid;
    border-width: 7.5px;
    background-color: transparent; 
}

#navsummary:hover {
    border-color: #e2e43a;
    background-color: #e2e43a;   
}

#navsummary::-webkit-details-marker {
    display: none;
}

#homeicon {
    display: block;    /* This is so you can select the home button when you are hovering to the right of it, just like the words */
    text-align: left;
    width: 25px;
    padding: 5px 5px 5px 0;    /* ----- Replace with actual measurement ----- */
    margin: 12.5px 0px 0px 12.5px;    }    /* ----- Replace with actual measurement ----- */

#navlist {    }

.navnothome {
    padding: 5.5px 7.5px 3.5px 7.5px;    /* ----- Replace with actual measurement ----- */  
    margin: 12.5px 5px 0px 5px;     }  



