{%- capture article_class %}js-comment comment{% if include.name == site.author.name %} admin{% endif %}{% endcapture %}
{% assign comment_id = include.uid | prepend: 'comment-' %}
<article id="{{ comment_id }}" class="{{ article_class }}" uid="{{ include.uid }}">

  <div class="comment__author">
    {{- include.name | strip_html -}},
    <span class="comment__date">
      {%- if include.date -%}
        <a href="#{{ comment_id}}" title="Permalink to this comment">
        {{- include.date | date:"%B %eth, %Y %H:%M" -}}
        </a>
      {%- endif -%}
    </span>
  </div>

  <div class="comment__body">
    {{ include.message | strip_html | markdownify }}
  </div>
