      <form class="js-form form" method="post" action="{{ site.staticman_url }}" id="commentform">
        <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
        <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
        <!-- <input type="hidden" id="comment-replying-to-uid" name="fields[replying_to_uid]" value=""> -->
        <input type="hidden" name="options[slug]" value="{{ page.slug }}">
        <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
        <input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.reCaptcha.secret }}">
        <!-- Name input field -->
        <label for="name"></label>
        <input class="boxinput s-textface" name="fields[name]" type="text" id="name" placeholder="Name" required/>
        <!-- Email input field -->
        <label for="email"></label>
        <input class="boxinput s-textface" name="fields[email]" type="email" id="email" placeholder="Email (this won’t be shown or shared)" required/>
        <!-- Honeypot -->
        <label for="hp" style="display: none" hidden>
          <input name="fields[hp]" id="hp" type="text" placeholder="Leave blank">
        </label>
        <!-- Comment message -->
        <label for="message">
          <textarea class="boxinput s-textface" name="fields[message]" type="text" id="message" placeholder="Comment" required></textarea>
        </label>
        <!-- reCAPTCHA -->
        <div id="reCaptcha" class="g-recaptcha" data-sitekey="{{-site.reCaptcha.siteKey-}}"></div>
        <!-- Post a comment button -->
        <button class="xs-display boxbutton postacommentbutton blackbg" id="submit">
          Post a comment
        </button>
        <!-- Loader -->
        <img src="https://curiositycoloredglasses.com/assets/images/sitewide/loader.gif" id="commentloader" class="commentloaderhidden">
      </form>
