{%- capture article_class %}js-comment comment onecomment{% if include.name == site.author.name %} admin{% endif %}{% if include.is_reply %} child{% endif %}{% endcapture %}
{% assign comment_id = include.uid | prepend: 'comment-' %}

<article id="{{ comment_id }}" class="{{ article_class }}" uid="{{ include.uid }}">
  <img src="{{ site.baseurl }}/assets/images/sitewide/avatar.svg" alt="" id="avatar" style="background-color: #e2e43a">
  <a href="#{{ comment_id}}" title="Permalink to this comment">
    <div id="namedatecomment">
      <span class="s-display">
        {{- include.name | strip_html -}}&ensp;
      </span>
      <span id="commentdate" class="s-textface bold">
        {{- include.date | date: '%d %B %Y' -}}
      </span>
      <div id="postedcomment"class="s-textface">
        {{ include.message | strip_html | markdownify }}
      </div>
    </div>
  </a>
</article>
