<span id="follow">

	<!-- Link to my instagram page -->
	<a href="https://www.instagram.com/curiositycoloredglasses/" title="Follow on Instagram" target="_blank">
		<img src= "{{ site.baseurl }}/assets/images/sitewide/Instagram.svg" alt="Follow me on Instagram" id="instagramlogo" class="followicon socialicon">
	</a>


	<!-- Link to @CuriosityColor twitter page -->
	<a href="https://twitter.com/CuriosityColor" title="Follow on Twitter" target="_blank">
		<img src= "{{ site.baseurl }}/assets/images/sitewide/Twitter.svg" alt="Follow me on Twitter" class="followicon socialicon">
	</a>


	<!-- Link to my portfolio website -->
	<a href="http://liaprins.com/" target="_blank" id="portfolio" class="m-textface bold">
		liaprins.com
	</a>

</span>
