 	<!-- Calls the stylesheet that zeroes out the default browser renderings -->
  <link rel="stylesheet" href="/assets/css/reset.css">

 	<!-- Calls the stylesheet that hold the designs -->
 	<!-- Will combine these into one style sheet by copying and pasting the contents together, once 100% finished, for performance reasons -->
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/globalnavfooter.css">
  <link rel="stylesheet" href="/assets/css/somepages.css">
  <link rel="stylesheet" href="/assets/css/text.css">
  <link rel="stylesheet" href="/assets/css/menu-hamburger.css">

 	<!-- Media queries -->
  <link rel="stylesheet" href="/assets/css/mediaqueries.css">

</head>

<!-- Adding opening body tag here, since all templates call this head-close.php snippet -->
<body>
