<nav role="navigation">
  <details id="navdetails" open>
    <summary id="navsummary">
    </summary>

    <!-- Home glasses icon -->
    <a href="/" title="Curiosity-Colored Glasses">
      <img src="{{ site.baseurl }}/assets/images/sitewide/home.svg" alt="Curiosity-Colored Glasses" id="homeicon" class="yellowhover">
    </a>
    <ul id="navlist">
      {% for item in site.mainpages %}
        {% unless item.title == 'Page not found' or item.title=='Search' %}
        <a href="{{ item.url }}" {% if page.url == item.url %}class="active"{% endif %} class="menuwordlink">
          <li id="menuword" class="navnothome m-display yellowhover">
            <span {% if page.url == item.url %}class="active2"{% endif %} href="{{ item.url }}">
              {{ item.title }}</span></li></a>
        {% endunless %}
      {% endfor %}
    	<!-- I added the searchbar snippet here, inside a list item, so it will be part of the menu list -->
    	<li id="navsearch" class="navnothome">
        <div id="searchdecoy" title="Search" class="yellowhover" style="display: none;">
        	<img src="{{ site.baseurl }}/assets/images/sitewide/search.svg" alt="search" class="navsearchicon">
        </div>
        <form action="/search" method="get" id="navsearchform">
          <input type="text" placeholder="search" name="query" id="navsearchinput" class="s-textface underlineinput">
          <button type="submit" value="search" title="Search" id="navsearchbutton" class="searchbutton yellowhover">
            <img src="{{ site.baseurl }}/assets/images/sitewide/search.svg" alt="search" class="navsearchicon">
          </button>
        </form>
			</li>
		</ul>
  </details>
</nav>
