/* POSTGLASSES -------------------------------------------------- */

:root {
    --glasseswidth: 50vw;    }

.postglassescontainer {
    width: var(--glasseswidth);
    margin: 1.024rem auto 1.536rem auto;    /* top: .5 lh, bottom: .75 lh */
    display: block;    }
.postglassescontainer:hover > .circle,
#postlink:hover .circle {
    background-size: 160%;
    background-position: 41.5% 42%;    } 

.circle,
.stem {
    border-color: black;
    border-width: calc(var(--glasseswidth) * 0.035);
    border-style: solid;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;    }

.circle {
    height: calc(var(--glasseswidth) * 0.393);
    width: calc(var(--glasseswidth) * 0.393);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;  }

.leftcircle {
    left: -0.5%;    }
.rightcircle {
    left: -1.75%;        }

.leftcircle,
.rightcircle {
    -webkit-transition: background-size 0.5s;    /* for Safari */
    transition: background-size 0.5s;    
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;    }

.stem {
    display: inline-block;
    border-style: solid none none none;
    width: calc(var(--glasseswidth) * 0.053);
    position: relative;
    top: calc(0vw - (var(--glasseswidth) * 0.197));
    border-width: 0;
    border-top-width: calc(var(--glasseswidth) * 0.035);    }

.centerstem {
    width: calc(var(--glasseswidth) * 0.107);
    left: -1%;    }

.rightstem {
    left: -2.25%;
    width: calc(var(--glasseswidth) * 0.053);    }


/* RESULTGLASSES -------------------------------------------------- */

:root {
    --resultglasseswidth: 28.571vw;    }

.resultglassescontainer {
    width: var(--resultglasseswidth);
    margin: 1.024rem auto 1.536rem auto;    /* top: .5 lh, bottom: .75 lh */
    display: block;    }
.resultglassescontainer:hover > .resultcircle,
#postlink:hover .resultcircle {
    background-size: 160%;
    background-position: 41.5% 42%;    } 

.resultcircle,
.resultstem {
    border-color: black;
    border-width: calc(var(--resultglasseswidth) * 0.035);
    border-style: solid;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;    }

.resultcircle {
    height: calc(var(--resultglasseswidth) * 0.393);
    width: calc(var(--resultglasseswidth) * 0.393);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;  }

.resultleftcircle {
    left: -0.5%;    }
.resultrightcircle {
    left: -1.75%;        }

.resultleftcircle,
.resultrightcircle {
    -webkit-transition: background-size 0.5s;    /* for Safari */
    transition: background-size 0.5s;    
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;    }

.resultstem {
    display: inline-block;
    border-style: solid none none none;
    width: calc(var(--resultglasseswidth) * 0.053);
    position: relative;
    top: calc(0vw - (var(--resultglasseswidth) * 0.197));
    border-width: 0;
    border-top-width: calc(var(--resultglasseswidth) * 0.035);    }

.resultcenterstem {
    width: calc(var(--resultglasseswidth) * 0.107);
    left: -1%;    }

.resultrightstem {
    left: -2.25%;
    width: calc(var(--resultglasseswidth) * 0.053);    }
