@media only screen and (min-width: 375px) {
    body {
        padding-bottom: calc(32.143vw + 73px + 2.998rem);    }    /* :)  H-Mobile | (margin between main's lowest content and footer (3/28 cols = 10.714vw) + footer's top-padding (3/28 cols = 10.714vw) + footer's bottom padding (3/28 cols = 10.714vw) = 9/28 cols = 32.143vw) + (subscribe input field's height (30px) + margin between input and button (15px) + subscribe button's height (30px) + follow icons' height including padding (30px) = 115px) + (margin between subscribe message and follow icons (0.5 lineheights = 1.024rem) + 2 lines of subscribe message in size xs-textface at 1.6 line height ratio (2 * 0.617rem * 1.6) = 1.9744rem + 1.024rem = 2.998rem) */
    #navdetails[open] {    /* :) The style for just when the menu is open */
        padding: 7.143vw;   /* :) height: H-Mobile 2/28 cols */
        width: 60.714vw;    }    /* :) H-Mobile 17/28 cols | Making the menu 2/3 column-grids wide when open */
    #navsearchinput {    /* :) Adjusting length of nav search bar for the narrower menu */
        width: calc(46.429vw - 34px);    }    /* H-Mobile | This should be the width of the content area within the open hamburger menu (13/28 cols = 46.429vw) minus the width of the menu icon + its spacing between it and this input bar (15px + 7.5px = 22.5px) */
   .date {
        border-width: 1.143vw;    }    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 28.571vw (8/28 cols) and the ratio of the postglasses width to their line weight of 25:1; */ 
    figcaption {
        border-width: 1.143vw;    }    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 42.857vw (12/28 cols) and the ratio of the postglasses width to their line weight of 25:1; */ 
    #resultglasses {
        width: 14.286vw;    }    /* :) H-Mobile 4/28 cols */ 
    #resultdate {
        border-width: 0.571vw;    }    /* :) This should dynamically match the weight of the line of the resultglasses below date, based on their width of 28.571vw (8/28 cols) and the ratio of the resultglasses width to their line weight of 25:1; */ 
    #noresultmessage {
        max-width: 1610px;    /* FINALIZE This is is max width that allows menu icon (25px) to have 7.5px padding while hovered on, and beyond that, 30px margin all around (70px/col x 23 cols = 1610px); I can certainly set max width to less than this, but not more, without crowding menu icon so it's not centered in the outermost column. Alternatively, I could also make the very outside columns (only of desktop’s 21-column grid) wider %-wise (just enough to accommodate the glasses icon centering), and also adjusting the middle 19 columns of the grid to be narrower %-wise */
        width:  78.571%;    }    /* :) V-H-Mobile hybrid 22/28 cols | Use % here instead of vw because it can be used inside the max-width | Getting the width back to the same as <main>'s when there aren't results */
    .resultarea {
        overflow: auto;    /* :) This line and the next are to fix a broswer bug wherein this containing element thinks it is 0px tall because it only contains floated elements; see pp373-4 in HTML & CSS book */
        /* width: 100%; */    /* :) This line and the previous are to fix a broswer bug wherein this containing element thinks it is 0px tall because it only contains floated elements; see pp373-4 in HTML & CSS book; but commenting out the 100% width because I actually want a specific width, and it seems to be working anyway */
        width: 85.714vw;    /* :) V-Mobile 24/28 cols | Establishing a separate div so I can make it wider in screens with more than one result wide to accommodate margins I need to put on both L + R sides of all results so they have proper spacing between each other, but don't look like they're extending past the page margins */
        margin: 0 auto;    }
    .result {
        width: 35.714vw;    /* :) V-H-Mobile hybrid 10/28 cols | Setting results to 2-column grid */
        margin: 0 3.571vw;
        float: left;    }
    #mce-EMAIL {    /* :) Making subscribe input field 2/3 */
        float: left;
        width: calc(78.571vw - 85px);    }
    .subscribebutton {
        margin: 0 0 15px 0;
        width: 85px;   }
    #avatar {
        height: 7.143vw;    /* :) V-Mobile 3/28 cols */
        width: 7.143vw;    }    /* :) V-Mobile 3/28 cols */
    .archivemockmain {
        margin-left: 3.571vw;    }    /* :) 1/28 cols (1/42) | For some reason, needs to be pushed over half a column*/
    #librarysection {    /* :) Setting up the library entries to go 4-across */
        width: 89.286vw;    /* :) V-H-Mobile hybrid 25/28 cols | Had to account for icon margins cutting into .5/28 cols (1/56) of side margins, leaving only a total of 5/28 cols total on both sides */
        margin: 3.571vw auto -3.571vw auto;     }    /* :) V-H-Mobile hybrid top: 1.5/28 cols (3/56), bottom: -1.5/28 cols (-3/56) | Trying to counteract other margins to make the space between library icon zone and above and below it match the space between library icons themselves */
    #libraryicon {    /* :) Setting up the library entries to go 4-across */
        margin: 5.357vw 5.357vw 0 5.357vw;    /* :) H-Mobile top + L + R: 1.5/28 cols (3/56) */
        padding-bottom: 5.357vw;    /* :) H-Mobile bottom: 1.5/28 cols (3/56) | Used padding here instead of margin for just the bottom so the bottom underline on selection would have space between it and the icon, and would only be as long as the icon is wide */
        max-width: 10.714vw;    /* :) H-Mobile 3/28 cols */
        max-height: 10.714vw;    }    /* :) H-Mobile 3/28 cols */
    #searchpageform {
        margin-bottom: -0.512rem;    }    /* :) V-H-Mobile hybrid -.25 lh | This is to account for the extra top margin of the resultarea div, whose margin won't overlap with this one for some reason */
    #tagpagename {
            margin-bottom: -0.0256rem;    }    /* :) V-H-Mobile hybrid -.25 lh | This is to account for the extra top margin of the resultarea div, whose margin won't overlap with this one for some reason */
}


@media only screen and (min-width: 449px) {    /* :) This is for the point after which the width is wide enough that the subscribe message only has to be one line, making footer a shorter height, also lumping in the menu switching to 1/3 screenwidth at this breakpoint */
    body {
        padding-bottom: calc(21.429vw + 58px + 2.998rem);    }    /* :)  H-Mobile | (margin between main's lowest content and footer (2/28 cols = 7.143vw) + footer's top-padding (2/28 cols = 7.143vw) + footer's bottom padding (2/28 cols = 7.143vw) = 6/28 cols = 21.429vw) + (subscribe input field's height (30px) + margin between input and button (15px) + subscribe button's height (30px) + follow icons' height including padding (30px) = 115px) + (margin between subscribe message and follow icons (0.5 lineheights = 1.024rem) + 2 lines of subscribe message in size xs-textface at 1.6 line height ratio (2 * 0.617rem * 1.6) = 1.9744rem + 1.024rem = 2.998rem) */
    #navdetails[open] {    /* :) The style for just when the menu is open */
        width: 50vw;    }    /* :) H-Mobile 19/28 cols | Making the menu 1/2 column-grids wide when open */
    #navsearchinput {    /* :) Adjusting length of nav search bar for the narrower menu */
        width: calc(35.714vw - 34px);    }    /* H-Mobile | This should be the width of the content area within the open hamburger menu (10/28 cols = 35.714vw) minus the width of the menu icon + its spacing between it and this input bar (15px + 7.5px = 22.5px) */
    .result {
        width: 21.429vw;    }    /* :) H-Mobile 6/28 cols | Setting results to 3-column grid */
    footer {
        padding: 7.143vw 0;    }    /* :) V-Mobile 3/28 cols to pad top and bottom of yellow BG */
}


@media only screen and (min-width: 550px) {    /* :) This is for the library entries to switch to being 6-across */
    #librarysection {    /* :) Setting up the library entries to go 6-across */ 
        width: 85.77vw;    /* :) H-Mobile 24/28 cols | Had to round up slightly from 85.714vw to get the icons to fit 3-across */
        margin: 3.571vw auto -3.571vw auto;     }    /* :) H-Mobile top: 1/28 cols, bottom: -1/28 cols | Trying to counteract other margins to make the space between library icon zone and above and below it match the space between library icons themselves */
    #libraryicon {    /* :) Setting up the library entries to go 6-across */
        margin: 3.571vw 3.571vw 0 3.571vw;    /* :) H-Mobile top + L + R: 1/28 cols */
        padding-bottom: 3.571vw;    /* :) H-Mobile bottom: 1/28 cols | Used padding here instead of margin for just the bottom so the bottom underline on selection would have space between it and the icon, and would only be as long as the icon is wide */
        max-width: 7.143vw;    /* :) H-Mobile 2/28 cols */
        max-height: 7.143vw;    }    /* :) H-Mobile 2/28 cols */
}


/* Subscribe + follow on same line -------------------------------------------------- */

@media only screen and (min-width: 750px) {
    body {
        padding-bottom: calc(21.429vw + 28px + 2.998rem);    }    /* :)  H-Mobile | (margin between main's lowest content and footer (2/28 cols = 7.143vw) + footer's top-padding (2/28 cols = 7.143vw) + footer's bottom padding (2/28 cols = 7.143vw) = 6/28 cols = 21.429vw) + (subscribe input field's height (30px) + margin between input and button (15px) + subscribe button's height (30px) + follow icons' height including padding (30px) = 115px) + (margin between subscribe message and follow icons (0.5 lineheights = 1.024rem) + 2 lines of subscribe message in size xs-textface at 1.6 line height ratio (2 * 0.617rem * 1.6) = 1.9744rem + 1.024rem = 2.998rem) */
    #mce-EMAIL {    /* :) Making subscribe input field account for the "follow" links */
        float: left;
        width: calc(78.571vw - 267px);    }    /* :) [Full width of content area (22/28 cols = 78.571vw)] minus [width of subscribe button (85px...) combined with total width of follow icons (63px) combined with width of liaprins.com (may vary with text size) and its left padding (92px) combined with space to go between subscribe form and follow links (30px) = 267px] */
    #follow {
        position: absolute;
        top: 7.143vw;
        left: calc(89.286vw - 167px);    }    /* :) [Full width of content area (22/28 cols = 78.571vw)] minus [width of subscribe button (85px...) */
}



/* Postglasses  -------------------------------------------------- */
@media only screen and (min-width: 295px) {
    .postglasses {
        width: 126.289px;    }
    .date, figcaption {
        border-width: 5.052px;    }
}

/* Postglasses -------------------------------------------------- */
@media only screen and (min-width: 442px) {
    .postglasses {
        width: 28.571vw;    } /* :) 8/28 cols */
    .date, figcaption {
        border-width: 1.143vw;    }
}

/* Postglasses -------------------------------------------------- */

@media only screen and (min-width: 613px) {
    .postglasses {
        width: 175px;    }
    .date, figcaption {
        border-width: 7px;    }
}



/* Max content width 817px (content area matches max content area allowed with edgelings) -------------------------------------------------- */

@media only screen and (min-width: 817px) {
    main {
        width: 641.929px;    }    /* :) 22/28 cols px equivalent at 817px screen width */
    .mockmain {
        width: 641.929px;    }    /* :) 22/28 cols px equivalent at 817px screen width */
    .archivemockmain {
        margin-left: 29.179px;     /* :) 1/28 cols (1/42) px equivalent at 817px screen width | For some reason, needs to be pushed over half a column*/
        width: 641.929px;    }    /* :) 22/28 cols px equivalent at 817px screen width */
    #blognametagline {
        width: 641.929px;    }    /* :) 22/28 cols px equivalent at 817px screen width */
    .date, figcaption {
        width: 641.929px;    /* :) 22/28 cols px equivalent at 817px screen width */
        border-width: 7.003px;    }    /* :) 6/28 cols divided by 25 (ratio of postglasses' width to their line weight) px equivalent at 817px screen width */
    #postdate {
        width: 641.929px;    }    /* :) 22/28 cols px equivalent at 817px screen width */
    .contentimage {
        max-width: 641.929px;     }    /* :) 22/28 cols px equivalent at 817px screen width */
    figcaption {
        border-width: 7.003px;    }    /* :) 3/28 cols divided by 25 (ratio of postglasses' width to their line weight) px equivalent at 817px screen width */
    #vocabillustration {
        max-width: 641.929px;    }    /* :) 22/28 cols px equivalent at 817px screen width */
    #rrsectionheader{
        width: 641.929px;    }    /* :) 22/28 cols px equivalent at 817px screen width */
    .resultarea {
        width: 700.283px;    }    /* :) 24/28 cols px equivalent at 817px screen width */
    .result {
        width: 175.075px;    /* :) 6/28 cols at 817px | Setting results to 3-column grid */
        margin: 0 29.175px;    }    /* :) 1/28 cols at 817px | Setting results to 2-column grid */
    #resultdate {
        width: 175.075px;    }    /* :) 10/28 cols at 817px | Setting results to 2-column grid */
    #resultglasses {
        width: 116.717px;    }    /* :) 4/28 cols at 817px */  
    #librarysection {    /* :) Setting up the library entries to go 6-across */ 
        width: 701px;    /* :) 24/28 cols at 817px | Had to round up slightly from 700.286px to get the icons to fit 6-across */
        margin: 29.179px auto -29.179px auto;     }    /* :) 1/28 cols, bottom: -1/28 cols at 817px | Trying to counteract other margins to make the space between library icon zone and above and below it match the space between library icons themselves */
    #libraryicon {    /* :) Setting up the library entries to go 6-across */
        margin: 29.179px 29.179px 0 29.179px;    /* :) top + L + R: 1/28 cols */
        padding-bottom: 29.179px;    /* :) bottom: 1/28 cols at 817px | Used padding here instead of margin for just the bottom so the bottom underline on selection would have space between it and the icon, and would only be as long as the icon is wide */
        max-width: 58.357px;    /* :) 2/28 cols at 817px */
        max-height: 58.357px;    }    /* :) 2/28 cols at 817px */
}



/* Adding edgelings! 1175px -------------------------------------------------- */

@media only screen and (min-width: 1175px) {
    main {
        margin: 0 auto;
        width: 90.476vw;    }    /* :) 19/21 cols */
    .mockmain {
        width: 90.476vw;    }    /* :) 19/21 cols */
    .archivemockmain {
        margin-left: 2.381vw;     /* :) .5/21 cols (1/42) | For some reason, needs to be pushed over half a column*/
        width: 52.381vw;    }    /* :) 11/21 cols */
    #blognametagline {
        width: 90.476vw;    }    /* :) 19/21 cols */
    .desktopcontent {
        position: relative;
        margin: 0 auto;
        width: 52.381vw;    }    /* :) 11/21 cols */
    .postglasses {
        width: 14.286vw;    }    /* :) 3/21 cols */
    .date {       
        position: absolute;
        left: -19.048vw;    /* :) 4/21 cols, to account for its width of 3/21 cols + margin between it and content column of 1/21 cols */
        top: 0;    /* :) This should match the height of the date text...DEPENDS ON TYPE SETTING FOR SCREEN SIZE! (1.3em) + padding between date and its border (0.512rem) + height of postglasses (width: height = 25:10, therefore height = 5.714vw) + spacing between date and postglasses (the margin set in this call applies) (4.762vw) + space between postglasses and post title (1.536rem) */
        width: 14.286vw;    /* :) 3/21 cols */
        border-width: 0.571vw;    }    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 42.857vw (12/28 cols) and the ratio of the postglasses width to their line weight of 25:1; */ 
    figcaption {
        border-width: 0.571vw;    }
    #hometaggroup {
        position: absolute;
        display: block;
        width: 14.286vw;    
        left: -19.048vw;
        top: 150px;    }    /* !!!!! */
    #postdate {
        position: absolute;
        width: 14.286vw;    }    /* :) H-Tablet 3/21 cols */
    #resultdate {
        position: static;    }
    #posttagshare {
        position: absolute;
        left: -23.810vw;
        top: calc(1.3em + 21.761vw + 3.1rem);
        margin: 0 4.762vw 4.762vw 4.762vw;
        width: 14.286vw;    }    /* :) H-Tablet 3/21 cols */
    #posttaggroup {
        display: block;    }
    #share {
        display: block;
        float: left;    }
    figure {
        position: relative;    }
    figcaption {
        position: absolute;
        top: 0;
        left: -19.048vw;
        width: 14.286vw;    /* :) H-Tablet 3/21 cols */
        margin: 0 4.762vw 4.762vw 4.762vw;
        padding-top:  1.024rem;
        border-width: 0.571vw;    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 42.857vw (12/28 cols) and the ratio of the postglasses width to their line weight of 25:1; */  
        border-style: solid none none none;    }
    .contentimage {
        max-width: 52.381vw;    }
    #vocabillustration {
        max-width: 52.381vw;    }    /* :) 11/21 cols */
    #rrsectionheader{
        width: 52.381vw;    }    /* :) 22/28 cols */
    .resultarea {
        width: 57.143vw;    }    /* :) 12/21 cols */
    .result {
        width: 14.286vw;    /* :) 3/21 cols | Setting results to 3-column grid */
        margin: 0 2.381vw;    }    /* :) .5/28 cols (1/42) */
    #resultdate {
        width: 14.286vw;    }    /* :) 3/21 cols | Setting results to 3-column grid */
    #resultglasses {
        width: 9.524vw;    }    /* :) 2/21 cols */
    #librarysection {    /* :) Setting up the library entries to go 6-across */ 
        width: 57.16vw;    /* :) 12/21 cols | Had to round up slightly from 57.143vw to get the icons to fit 6-across */
        margin: 2.381vw auto -2.381vw auto;     }    /* :) .5/21 cols, bottom: -.5/21 cols (1/42) | Trying to counteract other margins to make the space between library icon zone and above and below it match the space between library icons themselves */
    #libraryicon {    /* :) Setting up the library entries to go 6-across */
        margin: 2.381vw 2.381vw 0 2.381vw;    /* :) top + L + R: .5/21 cols (1/42) */
        padding-bottom: 2.381vw;    /* :) bottom: .5/21 cols (1/42) | Used padding here instead of margin for just the bottom so the bottom underline on selection would have space between it and the icon, and would only be as long as the icon is wide */
        max-width: 4.762vw;    /* :) 1/21 cols */
        max-height: 4.762vw;    }    /* :) 1/21 cols */
}



/* Max width -------------------------------------------------- */

@media only screen and (min-width: 1225px) {
    main {
        width: 1108.333px;    }    /* :) 19/21 cols px equivalent at 1225px screen width */
    .mockmain {
        width: 1108.333px;    }    /* :) 19/21 cols px equivalent at 1225px screen width */
    .archivemockmain {
        margin-left: 29.167px;     /* :) .5/28 cols (1/42) px equivalent at 1225px screen width | For some reason, needs to be pushed over half a column*/
        width: 641.667px;    }    /* :) 11/21 cols px equivalent at 1225px screen width */
    #blognametagline {
        width: 1108.333px;    }    /* :) 19/21 cols px equivalent at 1225px screen width */
    .desktopcontent {
        width: 641.929px;    }    /* :) 11/21 cols px equivalent at 1225px screen width */
    .postglasses {
        width: 175.071px;    }    /* :) 3/21 cols px equivalent at 1225px screen width */
    .date {
        left: -233.333px;    /* :) 4/21 cols px equivalent at 1225px screen width */
        width: 175px;    /* :) 3/21 cols px equivalent at 1225px screen width */
        border-width: 7.003px;    }    /* :) 3/28 cols divided by 25 (ratio of postglasses' width to their line weight) px equivalent at 817px screen width */
    figcaption {
        border-width: 7.003px;    }
    #postdate {
        width: 175px;    }    /* :) 3/21 cols px equivalent at 1225px screen width */
    #hometaggroup {
        left: -233.333px;    /* :) 4/21 cols px equivalent at 1225px screen width */
        width: 175px;    }    /* :) 3/21 cols px equivalent at 1225px screen width */
    #posttagshare {
        margin: 0 58.333px 58.333px 58.333px;
        left: -291.667px;
        width: 175px;    }    /* :) 3/21 cols px equivalent at 1225px screen width */
    .contentimage {
        max-width: 641.929px;    }    /* :) 11/21 cols px equivalent at 1225px screen width */
    figcaption {
        margin: 0 58.333px 58.333px 58.333px;
        left: -291.667px;
        width: 175px;    /* :) 3/21 cols px equivalent at 1225px screen width */
        border-width: 7.003px;    }    /* :) 3/28 cols divided by 25 (ratio of postglasses' width to their line weight) px equivalent at 1225px screen width */
    #vocabillustration {
        max-width: 641.667px;    }    /* :) 11/21 cols px equivalent at 1225px screen width */
    #rrsectionheader{
        width: 641.667px;    }    /* :) 11/21 cols px equivalent at 1225px screen width */
    .resultarea {
        width: 700px;    }    /* :) 12/21 cols at 1225px screen width */
    .result {
        width: 175px;    /* :) 3/21 cols px equivalent at 1225px screen width | Setting results to 3-column grid */
        margin: 0 29.167px;    }    /* :) .5/28 cols (1/42) px equivalent at 1225px screen width */
    #resultdate {
        width: 175px;    }    /* :) 3/21 cols px equivalent at 1225px screen width | Setting results to 3-column grid */
    #resultglasses {
        width: 116.667px;    }    /* :) 2/21 cols px equivalent at 1225px screen width */ 
    #librarysection {    /* :) Setting up the library entries to go 6-across */ 
        width: 701px;    /* :) 12/21 cols px equivalent at 1225px screen width | Had to round up slightly from 700px to get the icons to fit 6-across */
        margin: 29.167px auto -29.167px auto;     }    /* :) .5/21 cols, bottom: -.5/21 cols (1/42) px equivalent at 1225px screen width | Trying to counteract other margins to make the space between library icon zone and above and below it match the space between library icons themselves */
    #libraryicon {    /* :) Setting up the library entries to go 6-across px equivalent at 1225px screen width */
        margin: 29.167px 29.167px 0 29.167px;    /* :) top + L + R: .5/21 cols (1/42) px equivalent at 1225px screen width */
        padding-bottom: 29.167px;    /* :) bottom: .5/21 cols (1/42) px equivalent at 1225px screen width | Used padding here instead of margin for just the bottom so the bottom underline on selection would have space between it and the icon, and would only be as long as the icon is wide */
        max-width: 58.333px;    /* :) 1/21 cols px equivalent at 1225px screen width */
        max-height: 58.333px;    }    /* :) 1/21 cols px equivalent at 1225px screen width */
}



/* Customizing tagline line breaks -------------------------------------------------- */

@media only screen and (min-width: 268px) {
    .taglinehalf {
        display: inline-block;    }
}

@media only screen and (min-width: 284px) {
    .taglinehalf {
        display: inline;    }
}

@media only screen and (min-width: 343px) {
    .taglinehalf {
        display: inline-block;    }
}

@media only screen and (min-width: 427px) {
    .taglinehalf {
        display: inline;    }
}













