@media only screen and (min-width: 375px) {
    
    body {
        padding-bottom: calc(32.143vw + 73px + 2.998rem);    }    /* :)  H-Mobile | (margin between main's lowest content and footer (3/28 cols = 10.714vw) + footer's top-padding (3/28 cols = 10.714vw) + footer's bottom padding (3/28 cols = 10.714vw) = 9/28 cols = 32.143vw) + (subscribe input field's height (30px) + margin between input and button (15px) + subscribe button's height (30px) + follow icons' height including padding (30px) = 115px) + (margin between subscribe message and follow icons (0.5 lineheights = 1.024rem) + 2 lines of subscribe message in size xs-textface at 1.6 line height ratio (2 * 0.617rem * 1.6) = 1.9744rem + 1.024rem = 2.998rem) */

    #navdetails[open] {    /* :) The style for just when the menu is open */
        padding: 7.143vw;   /* :) height: H-Mobile 2/28 cols */
        width: 60.714vw;    }    /* :) H-Mobile 17/28 cols | Making the menu 2/3 column-grids wide when open */

    #navsearchinput {    /* :) Adjusting length of nav search bar for the narrower menu */
        width: calc(46.429vw - 34px);    }    /* H-Mobile | This should be the width of the content area within the open hamburger menu (13/28 cols = 46.429vw) minus the width of the menu icon + its spacing between it and this input bar (15px + 7.5px = 22.5px) */

    .postglasses {
        width: 28.571vw;    } /* :) H-Mobile 8/28 cols */

    .date {
        border-width: 1.143vw;    }    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 28.571vw (8/28 cols) and the ratio of the postglasses width to their line weight of 25:1; */ 

    figcaption {
        border-width: 1.143vw;    }    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 42.857vw (12/28 cols) and the ratio of the postglasses width to their line weight of 25:1; */ 

    #resultglasses {
        width: 14.286vw;    }    /* :) H-Mobile 4/28 cols */ 
    
    #resultdate {
    border-width: 0.571vw;    }    /* :) This should dynamically match the weight of the line of the resultglasses below date, based on their width of 28.571vw (8/28 cols) and the ratio of the resultglasses width to their line weight of 25:1; */ 

    #noresultmessage {
        max-width: 1610px;    /* FINALIZE This is is max width that allows menu icon (25px) to have 7.5px padding while hovered on, and beyond that, 30px margin all around (70px/col x 23 cols = 1610px); I can certainly set max width to less than this, but not more, without crowding menu icon so it's not centered in the outermost column. Alternatively, I could also make the very outside columns (only of desktop’s 21-column grid) wider %-wise (just enough to accommodate the glasses icon centering), and also adjusting the middle 19 columns of the grid to be narrower %-wise */
        width:  78.571%;    }    /* :) V-H-Mobile hybrid 22/28 cols | Use % here instead of vw because it can be used inside the max-width | Getting the width back to the same as <main>'s when there aren't results */

    .resultarea {
        overflow: auto;    /* :) This line and the next are to fix a broswer bug wherein this containing element thinks it is 0px tall because it only contains floated elements; see pp373-4 in HTML & CSS book */
        /* width: 100%; */    /* :) This line and the previous are to fix a broswer bug wherein this containing element thinks it is 0px tall because it only contains floated elements; see pp373-4 in HTML & CSS book; but commenting out the 100% width because I actually want a specific width, and it seems to be working anyway */
        width: 85.714%;    /* :) V-Mobile 24/28 cols | Establishing a separate div so I can make it wider in screens with more than one result wide to accommodate margins I need to put on both L + R sides of all results so they have proper spacing between each other, but don't look like they're extending past the page margins */
        margin: 0 auto;    }

    .result {
        width: 35.714vw;    /* :) V-H-Mobile hybrid 10/28 cols | Setting results to 2-column grid */
        margin: 0 3.571vw;
        float: left;    }

    #mce-EMAIL {    /* :) Making subscribe input field 2/3 */
        float: left;
        width: calc(78.571vw - 85px);    }

    .subscribebutton {
        margin: 0 0 15px 0;
        width: 85px;   }

    #avatar {
        height: 7.143vw;    /* :) V-Mobile 3/28 cols */
        width: 7.143vw;    }    /* :) V-Mobile 3/28 cols */

    #librarysection {    /* :) Setting up the library entries to go 4-across */
        width: 89.286vw;    /* :) V-H-Mobile hybrid 25/28 cols | Had to account for icon margins cutting into .5/28 cols (1/56) of side margins, leaving only a total of 5/28 cols total on both sides */
        margin: 3.571vw auto -3.571vw auto;     }    /* :) V-H-Mobile hybrid top: 1.5/28 cols (3/56), bottom: -1.5/28 cols (-3/56) | Trying to counteract other margins to make the space between library icon zone and above and below it match the space between library icons themselves */

    #libraryicon {    /* :) Setting up the library entries to go 4-across */
        margin: 5.357vw 5.357vw 0 5.357vw;    /* :) H-Mobile top + L + R: 1.5/28 cols (3/56) */
        padding-bottom: 5.357vw;    /* :) H-Mobile bottom: 1.5/28 cols (3/56) | Used padding here instead of margin for just the bottom so the bottom underline on selection would have space between it and the icon, and would only be as long as the icon is wide */
        max-width: 10.714vw;    /* :) H-Mobile 3/28 cols */
        max-height: 10.714vw;    }    /* :) H-Mobile 3/28 cols */

    #searchpageform {
        margin-bottom: -0.512rem;    }    /* :) V-H-Mobile hybrid -.25 lh | This is to account for the extra top margin of the resultarea div, whose margin won't overlap with this one for some reason */

    #tagpagename {
            margin-bottom: -0.0256rem;    }    /* :) V-H-Mobile hybrid -.25 lh | This is to account for the extra top margin of the resultarea div, whose margin won't overlap with this one for some reason */

}    /* :) This is the closing bracket for the (min-width: 375px) media query itself */ 




@media only screen and (min-width: 449px) {    /* :) This is for the point after which the width is wide enough that the subscribe message only has to be one line, making footer a shorter height, also lumping in the menu switching to 1/3 screenwidth at this breakpoint */

    body {
        padding-bottom: calc(21.429vw + 58px + 2.998rem);    }    /* :)  H-Mobile | (margin between main's lowest content and footer (2/28 cols = 7.143vw) + footer's top-padding (2/28 cols = 7.143vw) + footer's bottom padding (2/28 cols = 7.143vw) = 6/28 cols = 21.429vw) + (subscribe input field's height (30px) + margin between input and button (15px) + subscribe button's height (30px) + follow icons' height including padding (30px) = 115px) + (margin between subscribe message and follow icons (0.5 lineheights = 1.024rem) + 2 lines of subscribe message in size xs-textface at 1.6 line height ratio (2 * 0.617rem * 1.6) = 1.9744rem + 1.024rem = 2.998rem) */

    #navdetails[open] {    /* :) The style for just when the menu is open */
        width: 50vw;    }    /* :) H-Mobile 19/28 cols | Making the menu 1/2 column-grids wide when open */

    #navsearchinput {    /* :) Adjusting length of nav search bar for the narrower menu */
        width: calc(35.714vw - 34px);    }    /* H-Mobile | This should be the width of the content area within the open hamburger menu (10/28 cols = 35.714vw) minus the width of the menu icon + its spacing between it and this input bar (15px + 7.5px = 22.5px) */

    .result {
        width: 21.429vw;    }    /* :) H-Mobile 6/28 cols | Setting results to 3-column grid */
    
    footer {
        padding: 7.143vw 0;    }    /* :) V-Mobile 3/28 cols to pad top and bottom of yellow BG */

}    /* :) This is the closing bracket for the (min-width: 449px) media query itself */ 



@media only screen and (min-width: 550px) {    /* :) This is for the library entries to switch to being 6-across */

    #librarysection {    /* :) Setting up the library entries to go 6-across */ 
        width: 85.77vw;    /* :) H-Mobile 24/28 cols | Had to round up slightly from 85.714vw to get the icons to fit 3-across */
        margin: 3.571vw auto -3.571vw auto;     }    /* :) H-Mobile top: 1/28 cols, bottom: -1/28 cols | Trying to counteract other margins to make the space between library icon zone and above and below it match the space between library icons themselves */

    #libraryicon {    /* :) Setting up the library entries to go 6-across */
        margin: 3.571vw 3.571vw 0 3.571vw;    /* :) H-Mobile top + L + R: 1/28 cols */
        padding-bottom: 3.571vw;    /* :) H-Mobile bottom: 1/28 cols | Used padding here instead of margin for just the bottom so the bottom underline on selection would have space between it and the icon, and would only be as long as the icon is wide */
        max-width: 7.143vw;    /* :) H-Mobile 2/28 cols */
        max-height: 7.143vw;    }    /* :) H-Mobile 2/28 cols */

}    /* :) This is the closing bracket for the (min-width: 550px) media query itself */ 



/* Subscribe + follow on same line -------------------------------------------------- */

@media only screen and (min-width: 750px) {

    body {
        padding-bottom: calc(21.429vw + 28px + 2.998rem);    }    /* :)  H-Mobile | (margin between main's lowest content and footer (2/28 cols = 7.143vw) + footer's top-padding (2/28 cols = 7.143vw) + footer's bottom padding (2/28 cols = 7.143vw) = 6/28 cols = 21.429vw) + (subscribe input field's height (30px) + margin between input and button (15px) + subscribe button's height (30px) + follow icons' height including padding (30px) = 115px) + (margin between subscribe message and follow icons (0.5 lineheights = 1.024rem) + 2 lines of subscribe message in size xs-textface at 1.6 line height ratio (2 * 0.617rem * 1.6) = 1.9744rem + 1.024rem = 2.998rem) */


    #mce-EMAIL {    /* :) Making subscribe input field account for the "follow" links */
        float: left;
        width: calc(78.571vw - 267px);    }    /* :) [Full width of content area (22/28 cols = 78.571vw)] minus [width of subscribe button (85px...) combined with total width of follow icons (63px) combined with width of liaprins.com (may vary with text size) and its left padding (92px) combined with space to go between subscribe form and follow links (30px) = 267px] */

    #follow {
        position: absolute;
        top: 7.143vw;
        left: calc(89.286vw - 167px);    }    /* :) [Full width of content area (22/28 cols = 78.571vw)] minus [width of subscribe button (85px...) */

}    /* :) This is the closing bracket for the media query itself */ 



/* 1x Edgelings! -------------------------------------------------- */

@media only screen and (min-width: 750px) {

    main {
        margin: 0 auto 0 29.412vw;    /* :) H-V-Tablet 5/17 cols */
        width: 64.706vw;    }    /* :) H-V-Tablet 11/17 cols */
    
    .mockmain {
        margin: 0 auto 0 29.412vw;    /* :) H-V-Tablet 5/17 cols */
        width: 64.706vw;    }    /* :) H-V-Tablet 11/21 cols */

    #blognametagline {
        margin-left: 5.882vw;
        width: 88.235vw;    }

    .postglasses {
        width: 17.647vw;    }    /* :) H-V-Tablet 3/17 cols */

    .date {
        position: relative;
        left: -29.412vw;    /* :) H-V-Tablet 5/17 cols */
        bottom: calc(-1.3em - 11.047vw - 1.45rem);    /* :) This should match the height of the date text...DEPENDS ON TYPE SETTING FOR SCREEN SIZE! (1.3em) + padding between date and its border (0.512rem) + height of postglasses (width: height = 25:10, therefore height = 5.714vw) + spacing between date and postglasses (the margin set in this call applies) (4.762vw) + space between postglasses and post title (1.536rem) */
        margin: 0 5.882vw;    /* :) H-V-Tablet 1/17 cols */
        width: 17.647vw;    /* :) H-V-Tablet 3/17 cols */
        border-width: 0.706vw;    }    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 17.647 (3/17 cols) and the ratio of the postglasses width to their line weight of 25:1; */ 

    #postdate {
        width: 17.647vw;    }    /* :) H-V-Tablet 3/17 cols */

    #resultdate {
        position: static;    }

    #posttagshare {
        position: absolute;
        top: calc(1.3em + 21.761vw + 3.1rem);    /* !!!!! */
        left: 0;
        margin: 0 5.882vw 5.882vw 5.882vw;    /* :) H-V-Tablet 1/17 cols */
        width: 17.647vw;    }    /* :) H-V-Tablet 3/17 cols */

    #posttaggroup {
        display: block;    }

    #share {
        display: block;
        float: left;    }

    figure {
        position: relative;    }

    figcaption {
        position: absolute;
        top: 0;
        left: -29.412vw;    /* :) H-V-Tablet 5/17 cols */
        width: 17.647vw;    /* :) H-V-Tablet 3/17 cols */
        margin: 0 5.882vw 5.882vw 5.882vw;    /* :) H-V-Tablet 1/17 cols */
        padding-top:  1.024rem;
        border-width: 0.706vw;    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 17.647 (3/17 cols) and the ratio of the postglasses width to their line weight of 25:1; */ 
        border-style: solid none none none;    }

    .contentimage {
        max-width: 64.706vw;    }



/* 2x Edgelings! -------------------------------------------------- */

@media only screen and (min-width: 1157px) {

    main {
        margin: 0 auto;
        width: 52.381vw;    /* :) H-Tablet 11/21 cols */
        /* width: 90.476%; */    }    /* :) H-Tablet 19/21 cols | Use % here instead of vw because they can be used inside the max-width */
    
    .mockmain {
        width: 52.381vw;    /* :) H-Tablet 11/21 cols */
        /* width: 90.476%; */    }    /* :) H-Tablet 19/21 cols | Use % here instead of vw because they can be used inside the max-width */

    #blognametagline {
        width: 90.476vw;    }

    .postglasses {
        width: 14.286vw;    }    /* :) H-Tablet 3/21 cols */

    .date {
        position: relative;
        left: -23.810vw;
        bottom: calc(-1.3em - 11.047vw - 1.45rem);    /* :) This should match the height of the date text...DEPENDS ON TYPE SETTING FOR SCREEN SIZE! (1.3em) + padding between date and its border (0.512rem) + height of postglasses (width: height = 25:10, therefore height = 5.714vw) + spacing between date and postglasses (the margin set in this call applies) (4.762vw) + space between postglasses and post title (1.536rem) */
        margin: 0 4.762vw;
        width: 14.286vw;    /* :) H-Tablet 3/21 cols */
        border-width: 0.571vw;    }    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 42.857vw (12/28 cols) and the ratio of the postglasses width to their line weight of 25:1; */ 

    #postdate {
        width: 14.286vw;    }    /* :) H-Tablet 3/21 cols */

    #resultdate {
        position: static;    }

    #posttagshare {
        position: absolute;
        top: calc(1.3em + 21.761vw + 3.1rem);
        left: 0;
        margin: 0 4.762vw 4.762vw 4.762vw;
        width: 14.286vw;    }    /* :) H-Tablet 3/21 cols */

    #posttaggroup {
        display: block;    }

    #share {
        display: block;
        float: left;    }

    figure {
        position: relative;    }

    figcaption {
        position: absolute;
        top: 0;
        left: -23.810vw;
        width: 14.286vw;    /* :) H-Tablet 3/21 cols */
        margin: 0 4.762vw 4.762vw 4.762vw;
        padding-top:  1.024rem;
        border-width: 0.571vw;    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 42.857vw (12/28 cols) and the ratio of the postglasses width to their line weight of 25:1; */  
        border-style: solid none none none;    }

    .contentimage {
        max-width: 52.381vw;    }


}    /* :) This is the closing bracket for the EDGELINGS media query itself */ 



@media only screen and (min-width: 1000px) {
    

}    /* :) This is the closing bracket for the NON-HAMBURGER media query itself */ 

















