/* THIS HOLDS THE CLASSES AND IDS (AND THEIR STYLES) ISOLATED FOR JUST THE DESKTOP MENU
TO INCORPORATE RESPONSIVITY, THESE CLASSES AND IDS SHOULD MATCH EXACTLY THE ONES FOR THE HAMBURGER MENU.
THEIR PROPERTIES CAN BE ADJUSTED FOR RESPONSIVITY, BUT ULTIMATELY THEY WILL REFER TO JUST ONE HTML */

nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 200px;    }

#navdetails {
    float: right;    /* Pushes the group as a whole to the right */
    position: absolute;
    left: 0;
    padding: 0;    }

#navdetails[open] {
    background-color: transparent;    }

#navdetails[open] #navsummary {
    background-image: none;    }

#navsummary {    }

#navsummary:hover {    }

#navsummary::-webkit-details-marker {
    display: none;    }

#homeicon {
    /* text-align: left; */    /* !!!!! THIS ISN'T NEEDED FOR HAMBURGER MENU, KEEPING TO VERIFY IF IT'S NEEDED FOR DESKTOP MENU !!!!! */
    display: inline;
    position: fixed;
    width: 25px;
    padding: 7.5px;    /* ----- Replace with actual measurement ----- */
    margin: 12.5px 0px 0px 12.5px;    }    /* ----- Replace with actual measurement ----- */

#navlist {    /* Holds together nav search, About, Archive, and Library items */
    float: right;    }    /* Pushes the group as a whole to the right */

.navnothome {
    padding: 5.5px 7.5px 3.5px 7.5px;    /* ----- Replace with actual measurement ----- */   
    margin: 12.5px 5px 0px 5px;    /* ----- Replace with actual measurement ----- */
    float: left;    }    /* Makes the items go in the proper left-to-right order */
