/* Binocular images will be called by the code in iterative groups: S then M then L. 
But they should be arranged within the Kirby panel in an order that reflects the way they'll appear on the site. 
This way the CSS can properly target certain binoculars to override their default JavaScript-set positions and prevent them from blocking the text and menu.
This pattern within the Kirby panel should be as follows:
 Row 1: L S L S L S
 Row 2: S M S M S M
 Row 3: S L S L S L
 Row 4: S M S M S M
 Row 5: (start back over with top row pattern) */


/* 1225px and wider --------------------------------------
Starting at widest screenwidth and working down with mediaqueries (opposite method I usually employ)
so that at smaller sizes I can add display: none; to more binocular pairs as more start to overlap text */
/* keep from overlapping home glasses button */
.qqpiece:nth-child(1) {    /* 1st pair overall / 1st L pair on top row */
    top: 45px !important;
    margin-top: 0 !important;
    left: calc(50vw - 650px) !important;
    margin-left: 0 !important;    }
/* move a bit away from menu zone */
.qqpiece:nth-child(3) {    /* 3rd pair overall / 2nd L pair on top row */
    top: 10px !important;
    margin-top: -15px !important;
    margin-left: -10px !important;    }
/* move down from menu zone and over to the right */
.qqpiece:nth-child(4) {    /* 4th pair overall / 2nd S pair on top row */
    top: 65px !important;
    margin-top: 0 !important;
    left: calc(50vw + 348px) !important;
    margin-left: 0 !important;    }
/* move down from menu zone and over to the left to prevent overlap with M pair below it */
.qqpiece:nth-child(5) {    /* 5th pair overall / 3rd L pair on top row */
    top: 75px !important;
    margin-top: 0 !important;
    left: calc(50vw + 233px - 170px) !important;
    margin-left: 0 !important;    }
/* move down from menu zone */
.qqpiece:nth-child(6) {    /* 6th pair overall / 3rd S pair on top row */
    top: 65px !important;    }
/* moving into a blank area so it doesn't block intro text */
.qqpiece:nth-child(10) {    /* 10th pair overall / 2nd M pair on 1st M-containing row */
    top: 500px !important;
    margin-top: 0 !important;
    left: calc(50vw - 713px) !important;
    margin-left: 0 !important;    }
/* hide entirely to prevent from overlapping page title and text */
.qqpiece:nth-child(9),    /* 9th pair overall / 2nd S pair on 2nd row */
.qqpiece:nth-child(11) {    /* 11th pair overall / 3rd S pair on 2nd row */
    display: none !important;    }
/* prevent from overlapping bottom left corner of intro text (when three lines tall) */
.qqpiece:nth-child(14) {    /* 14th pair overall / 1st L pair on 2nd L-containing row down */
    top: 360px !important;
    margin-top: 0 !important;    }

/* 1245 and below -------------------------------------- */
@media (max-width: 1245px) {
    /* keep from pair #2 */
    .qqpiece:nth-child(1) {    /* 1st pair overall / 1st L pair on top row */
        left: -2vw !important;    }
}

/* 1224 and below -------------------------------------- */
@media (max-width: 1224px) {
    /* adjust out of px into vw */
    .qqpiece:nth-child(4) {    /* 4th pair overall / 2nd S pair on top row */
        top: 1vw !important;
        margin-top: 0 !important;
        left: 53.917vw !important;
        margin-left: 0 !important;    }
    /* now that menu is inside hamburger, move this up a bit */
    .qqpiece:nth-child(5) {    /* 5th pair overall / 3rd L pair on top row */
        top: 3vw !important;
        left: 66.112vw !important;    }
    /* move down from menu zone */
    .qqpiece:nth-child(6) {    /* 6th pair overall / 3rd S pair on top row */
        top: 10vw !important;
        margin-top: 0 !important;
        left: 92.595vw !important;
        margin-left: 0 !important;    }
    /* prevent from overlapping left edge of text */
    .qqpiece:nth-child(8) {    /* 8th pair overall / 1st M pair on 1st M-containing row */
        top: 15vw !important;
        margin-top: 0 !important;
        left: 6vw !important;
        margin-left: 0 !important;    }
    /* adjust out of px into vw */
    .qqpiece:nth-child(10) {    /* 10th pair overall / 2nd M pair on 1st M-containing row */
        top: 38vw !important;
        left: -6vw !important;    }
    /* prevent from overlapping right edge of text */
    .qqpiece:nth-child(12) {    /* 12th pair overall / 3rd M pair on 1st M-containing row */
        top: 16vw !important;
        margin-top: 0 !important;
        left: 82vw !important;
        margin-left: 0 !important;    }
    /* put back to normal location mostly */
    .qqpiece:nth-child(14) {    /* 14th pair overall / 1st L pair on 2nd L-containing row down */
        top: 30vw !important;    }
}

/* 1075 and below -------------------------------------- */
@media (max-width: 1075px) {
    /* move down from menu zone */
    .qqpiece:nth-child(6) {    /* 6th pair overall / 3rd S pair on top row */
        top: 18vw !important;    }
    /* hide entirely to prevent from overlapping page title and text */
    .qqpiece:nth-child(7) {    /* 7th pair overall / 1st S pair on 2nd row */
        display: none !important;    }
    /* prevent from overlapping left edge of text */
    .qqpiece:nth-child(8) {    /* 8th pair overall / 1st M pair on 1st M-containing row */
        left: -2vw !important;    }
    /* prevent from overlapping right edge of text */
    .qqpiece:nth-child(12) {    /* 12th pair overall / 3rd M pair on 1st M-containing row */
        top: 10vw !important;
        left: 85vw !important;    }
}

/* 950 and below -------------------------------------- */
@media (max-width: 950px) {
    /* keep from overlapping page title */
    .qqpiece:nth-child(1) {    /* 1st pair overall / 1st L pair */
        top: 2vw !important;    }
    /* keep from crowding page title */
    .qqpiece:nth-child(2) {    /* 2nd pair overall / 1st S pair on top row */
        top: 3vw !important;
        margin-top: 0 !important;
        left: 17.5vw !important;
        margin-left: 0 !important;    }
    /* prevent from overlapping right edge of text */
    .qqpiece:nth-child(12) {    /* 12th pair overall / 3rd M pair on 1st M-containing row */
        left: 90vw !important;    }
    /* put back to normal location mostly */
    .qqpiece:nth-child(14) {    /* 14th pair overall / 4th L pair on 2nd L-containing row down */
        left: 10vw !important;    }
    /* prevent from overlapping bottom edge of text */
    .qqpiece:nth-child(16) {    /* 16th pair overall / 5th L pair on 2nd L-containing row */
        top: 26vw !important;
        margin-top: 0 !important;
        left: 48vw !important;    }
}

/* 875 and below -------------------------------------- */
@media (max-width: 875px) {
    /* balance space below */
    .qqpiece:nth-child(1) {    /* 1st pair overall / 1st L pair on top row */
        top: 8vw !important;
        left: -7vw !important;    }
    /* prevent from overlapping left edge of text */
    .qqpiece:nth-child(8),    /* 8th pair overall / 1st M pair on 1st M-containing row */
    .qqpiece:nth-child(14) {    /* 14th pair overall / 4th L pair on 2nd L-containing row down */
        display: none !important;    }
    /* balance space to the left */
    .qqpiece:nth-child(15) {    /* 15th pair overall / 2nd S pair on 3rd S-containing row */
        left: 15vw !important;
        top: 33vw !important; 
        margin-top: 0 !important;   }
    /* prevent from crowding bottom edge of text */
    .qqpiece:nth-child(16) {    /* 16th pair overall / 2nd L pair on 2nd L-containing row */
        top: 28vw !important;
        left: 40vw !important;    }
    /* prevent from overlapping bottom edge of second text row of intro */
    .qqpiece:nth-child(17) {    /* 17th pair overall / 3rd S pair on 3rd S-containing row */
        top: 30vw !important;
        margin-top: 0 !important;    }
}

/* 800 and below -------------------------------------- */
@media (max-width: 800px) {
    /* keep from overlapping page title */
    .qqpiece:nth-child(1) {    /* 1st pair overall / 1st L pair on top row */
        top: 4vw !important;
        left: -10vw !important;    }
    /* balance space above page title */
    .qqpiece:nth-child(3) {    /* 3rd pair overall / 2nd L pair on top row */
        top: -1.5vw !important;    }
    /* remove to prevent crowding hamburger and text */
    .qqpiece:nth-child(6),    /* 6th pair overall / 3rd S pair on top row */
    .qqpiece:nth-child(21) {    /* 21st pair overall / 2nd S pair on 3rd S-containing row */
        display: none !important;    }
    /* move down from menu zone */
    .qqpiece:nth-child(18) {    /* 18th pair overall / 3rd L pair on 2nd L-containing row */
        left: 90vw !important; 
        margin-left: 0 !important;    }
    /* prevent crowding bottom edge of text */
    .qqpiece:nth-child(16) {    /* 16th pair overall / 2nd L pair on 2nd L-containing row */
        top: 35vw !important;
        margin-left: 0 !important;    }
    /* keep from overlapping text */
    .qqpiece:nth-child(21) {    /* 21st pair overall / 2nd S pair on 3rd S-containing row */
        display: none !important;   }
}

/* 725 and below -------------------------------------- */
@media (max-width: 725px) {
    /* balance space */
    .qqpiece:nth-child(13) {    /* 13th pair overall / 1st S pair on 3rd S-containing row */
        margin-top: 0 !important;
        margin-left: 0 !important;    }
    /* balance space */
    .qqpiece:nth-child(15) {    /* 15th pair overall / 2nd S pair on 3rd S-containing row */
        display: none !important;   }
    /* prevent from overlapping bottome edge of second text row of intro */
    .qqpiece:nth-child(17) {    /* 17th pair overall / 3rd S pair on 3rd S-containing row */
        top: 35vw !important;
        margin-top: 0 !important;
        margin-left: 0 !important;    }
}

/* 650 and below -------------------------------------- */
@media (max-width: 650px) {
    .qqpiece:nth-child(16) {    /* 16th pair overall / 2nd L pair on 2nd L-containing row */
        display: none !important;    }
    /* prevent from overlapping bottome edge of second text row of intro */
    .qqpiece:nth-child(17) {    /* 17th pair overall / 3rd S pair on 3rd S-containing row */
        top: 38vw !important;
        left: 45vw !important;    }
}

/* 442 and below -------------------------------------- */
@media (max-width: 442px) {
    /* prevent from overlapping hamburger menu */
    .qqpiece:nth-child(12) {    /* 12th pair overall / 3rd M pair on 1st M-containing row */
        top: 16vw !important;
        left: 95vw !important;    }
}

/* 420 and below -------------------------------------- */
@media (max-width: 420px) {
    /* prevent from overlapping bottom edge of second text row of intro */
    .qqpiece:nth-child(17) {    /* 17th pair overall / 3rd S pair on 3rd S-containing row */
        top: 40vw !important;    }
    /* remove to prevent text overlap */ 
    .qqpiece:nth-child(19) {    /* 19th pair overall / 1st S pair on 4th S-containing row */
        display: none !important;    }
    /* move down from menu zone and over to the left to prevent overlap with M pair below it */ 
    .qqpiece:nth-child(20) {    /* 20th pair overall / 1st M pair on 2nd M-containing row */
        top: 45vw !important;
        margin-top: 0 !important;    }
}

/* 400 and below -------------------------------------- */
@media (max-width: 400px) {
    /* move down from menu zone and over to the left to prevent overlap with M pair below it */ 
    .qqpiece:nth-child(5) {    /* 5th pair overall / 3rd L pair on top row */
        top: 1vw !important;
        left: 70vw !important;    }
    /* prevent from overlapping bottom edge of second text row of intro */
    .qqpiece:nth-child(17) {    /* 17th pair overall / 3rd S pair on 3rd S-containing row */
        top: 44vw !important;    }
    /* move down from menu zone and over to the left to prevent overlap with M pair below it */ 
    .qqpiece:nth-child(20) {    /* 20th pair overall / 1st M pair on 2nd M-containing row */
        display: none !important;    }
    /* move down from menu zone and over to the left to prevent overlap with M pair below it */ 
    .qqpiece:nth-child(22) {    /* 22nd pair overall / 2nd M pair in 2nd M-containing row */
        top: 43vw !important;
        margin-top: 0 !important;    }
}

/* 382 and below -------------------------------------- */
@media (max-width: 382px) {
    /* remove to prevent from overlapping text */
    .qqpiece:nth-child(17),    /* 17th pair overall / 3rd S pair on 3rd S-containing row */
    .qqpiece:nth-child(24) {    /* 24th pair overall / 3rd M pair on 2nd M-containing row */
        display: none !important;    }
    /* prevent from overlapping bottom edge of second text row of intro */
    .qqpiece:nth-child(18) {    /* 18th pair overall / 3rd L pair on 2nd L-containing row */
        left: 94vw !important;    }
    /* prevent from overlapping bottome edge of second text row of intro */
    .qqpiece:nth-child(22) {    /* 22nd pair overall / 2nd M pair in 2nd M-containing row */
        top: 45vw !important;    }
    /* prevent from overlapping bottome edge of second text row of intro */
    .qqpiece:nth-child(23) {    /* 23rd pair overall / 3rd S pair on 4th S-containing row */
        top: 45vw !important;
        margin-top: 0 !important;    }
}

/* 350 and below -------------------------------------- */
@media (max-width: 350px) {
    /* remove to prevent overlapping text */
    .qqpiece:nth-child(22) {     /* 22nd pair overall / 2nd M pair in 2nd M-containing row */
        display: none !important;    }
}





























