/* QQ page set-up ---------------------------------------------------------------------------------------------------- */

#qqtitlebg {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 0.125rem;
	position: absolute;
	z-index: 2 !important;
	left: calc(50vw - 322px);
}

#qqpagetitle p {
	padding-top: calc(10.714vw - 0.25rem);
	margin: 0 auto 1.536rem auto;    }

#qqpagetext p {
	margin: 0 auto;
	line-height: 1.6;    }

#qqpagetitle p,
#qqpagetext p {
	width:  78.571vw;    }

.qqpiece {
	position: absolute;
	display: block;    }


/* Building the binocs ---------------------------------------------------------------------------------------------------- */

.largeqqglasses,
.mediumqqglasses,
.smallqqglasses {
	position: absolute;
	cursor: pointer;    }

/* TRYING OUT PUTTING THESE DOWN IN THE CONTENT POSITIONING AREA WITH THE OTHER CSS VARIABLES */

.largeqqglasses {
	width: var(--binocwidth-l);
	height: var(--binocheight-l);    }

.mediumqqglasses {
	width: var(--binocwidth-m);
	height: var(--binocheight-m);
	/* opacity: 0.9; */    }

.smallqqglasses {
	width: var(--binocwidth-s);
	height: var(--binocheight-s);
	/* opacity: 0.8; */    }

.largeqqglasses > .lens {
	border-width: calc(var(--binocwidth-l) * 0.045 * 0.833);    }

.mediumqqglasses > .lens {
	border-width: calc(var(--binocwidth-m) * 0.045 * 0.833);    }

.smallqqglasses > .lens {
	border-width: calc(var(--binocwidth-s) * 0.045 * 0.833);    }

.lens {
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	border-color: black;
	border-style: solid;
	height: 100%;
	width: 46.124%;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	-webkit-transition: background-size 0.5s;    /* for Safari */
	transition: background-size 0.5s;    
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;    }

.r-lens {
	position: absolute;
	left: 53.94%;    }

.qqglassescontainer:hover > .lens {
	background-size: 150%;
	background-position: 40% 40%;    }

.qqselected > .lens {
	background-size: 150%;    }

.knob {
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	left: 42.3%;
	background-color: black;
	height: 33.9%;
	width: 15.636%;
	border-radius: 50%;    }

.trapezoid-large,
.trapezoid-medium,
.trapezoid-small {
	height: 0;
	width: 28.5%;
	position: absolute;
	display: inline-block;
	left: 35.55%;
	top: 8.71%;    }

.trapezoid-large {
	border-top: calc(var(--binocwidth-l) * 0.145) solid black;    /* TRAPEZOID NEEDS PIXELS! */
	border-left: calc(var(--binocwidth-l) * 0.072) solid transparent;
	border-right: calc(var(--binocwidth-l) * 0.072) solid transparent;    }

.trapezoid-medium {
	border-top: calc(var(--binocwidth-m) * 0.145) solid black;
	border-left: calc(var(--binocwidth-m) * 0.072) solid transparent;
	border-right: calc(var(--binocwidth-m) * 0.072) solid transparent;    }

.trapezoid-small {
	border-top: calc(var(--binocwidth-s) * 0.145) solid black;
	border-left: calc(var(--binocwidth-s) * 0.072) solid transparent;
	border-right: calc(var(--binocwidth-s) * 0.072) solid transparent;    }


/* QQ BOXES FOR TESTING BINOC MARGIN RANGES ---------------------------------------------------------------------------------------------------- */

.largeqqbox,
.mediumqqbox,
.smallqqbox {
	position: absolute;    }

.largeqqbox {
	background-color: purple;
	opacity: 0.5;
	width: calc(17.05vw + 2.5rem);
	height: calc(7.866vw + 2.5rem);    }

.mediumqqbox {
	background-color: blue;
	opacity: 0.5;
	width: calc((17.05vw * 0.75) + 2.5rem);
	height: calc((7.866vw * 0.75) + 2.5rem);    }

.smallqqbox {
	background-color: green;
	opacity: 0.5;
	width: calc((17.05vw * 0.5) + 2.5rem);
	height: calc((7.866vw * 0.5) + 2.5rem);    }

/* MIN 1225px GROW ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media only screen and (min-width: 1225px) {
	.largeqqbox {
		width: calc(209px + 2.5rem);
		height: calc(96.4px + 2.5rem);    }
	.mediumqqbox {
		width: calc((209px * 0.75) + 2.5rem);
		height: calc((96.4px * 0.75) + 2.5rem);    }
	.smallqqbox {
		width: calc((209px * 0.5) + 2.5rem);
		height: calc((96.4px * 0.5) + 2.5rem);    }
}    /* MIN 1225px GROW ++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* CONTENTS (QUESTIONS + EXPLANATORY TEXT) OF EACH BINOC ---------------------------------------------------------------------------------------------------- */

.qqcontents {
	background-color: white;
	border-style: solid;
	border-color: black;
	z-index: 1;
	position: absolute;
	/* position: relative; */
	border-width: 0.125rem;
	padding: var(--contentpadding);
	width: var(--contentwidth);    }

#qq-x {
	position: absolute;
	top: calc(3.571vw - 0.844rem);
	left: calc(75vw - 1.094rem);    }

.qqquestion {
	margin-bottom: 0.768rem;    }

.sharkfin,
.bordercover {
	width: calc(var(--edgemargin) * 2);
	height: calc(var(--edgemargin) * 2);
	border-width: 0.125rem;
	position: absolute;
	border-style: solid;
	background-color: white;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari */
	transform: rotate(45deg);    }

.sharkfin {
	border-color: black;    }

.bordercover {
	border-color: white;    }

/* "CLASS ZONES": JS-DETERMINED, CSS-STYLED TO MAKE THE SHARKFIN AND CONTENT BOX OPTIMALLY POSITIONED ---------------------------------------------------------------------------------------------------- */
/* THESE CLASS ZONES CAN ONLY DO HORIZONTAL POSITIONING (BECAUSE CSS CANNOT BE AWARE OF CONTENT BOX HEIGHT OR LOCATION, ETC
NEED TO ASSIGN VERTICAL STYLES IN JS */

/* < 390px: NARROW CLASS ZONES APPLIED VIA JS (no mediaquery needed; I will come back and add classes once I do the JS if-statements for this) +++++++++++++++++++++++++++++++ */
/* ALL CLASS ZONES (FOR NARROW SCREENWIDTHS) MUST BE SET FROM SCRATCH
   THIS (AND >= 390px BELOW) SHOULD BE THE ONLY PLACES I SET CLASS ZONES */
:root {
 	--binocwidth-l: 17.05vw;    /* binoc width (large) applied above in lines ~31 */
	--binocheight-l: 7.866vw;    /* binoc height (large) applied above in lines ~32 */
	--binocwidth-m: calc(var(--binocwidth-l) * 0.75);    /* binoc width (med) applied above in lines ~35 */
	--binocheight-m: calc(var(--binocheight-l) * 0.75);    /* binoc height (med) applied above in lines ~36 */
	--binocwidth-s: calc(var(--binocwidth-l) * 0.5);    /* binoc width (small) applied above in lines ~40 */
	--binocheight-s: calc(var(--binocheight-l) * 0.5);    /* binoc height (small) applied above in lines ~41 */
	--contentwidth: 78.571vw;    /* content width = 22/28 (78.571vw), applied above in line ~174 */
	--contentpadding: 7.143vw;    /* content padding applied above in line ~169 */
	--edgemargin: 1.79vw;    }    /* edge margin = 1/56 (1.79vw), set within a script at bottom of qq-position.js */

.top-n.qqcontents-large {
	margin-top: calc(var(--binocheight-l) + var(--edgemargin));	}
.top-n.qqcontents-medium {
	margin-top: calc(var(--binocheight-m) + var(--edgemargin));	}
.top-n.qqcontents-small {
	margin-top: calc(var(--binocheight-s) + var(--edgemargin));	}

.top-n > .sharkfin {
	top: calc((var(--edgemargin) * -1) - 0.125rem);	}
.top-n > .bordercover {
	top: calc((var(--edgemargin) * -1) + 0.0625rem);	}

.left-n.qqcontents-large {
	left: calc((var(--binocwidth-l) / 2) - (var(--edgemargin) * 2) - 0.125rem);	}
.left-n.qqcontents-medium {
	left: calc((var(--binocwidth-m) / 2) - (var(--edgemargin) * 2) - 0.125rem);	}
.left-n.qqcontents-small {
	left: calc((var(--binocwidth-s) / 2) - (var(--edgemargin) * 2) - 0.125rem);	}

.left-n > .sharkfin,
.farleft-n > .sharkfin {
	left: var(--edgemargin);	}
.left-n > .bordercover,
.farleft-n > .bordercover {
	left: var(--edgemargin);	}

.right-n.qqcontents-large {
	left: calc((var(--contentwidth) * -1) + (var(--binocwidth-l) / 2) + (var(--edgemargin) * 2) + 0.125rem);	}
.right-n.qqcontents-medium {
	left: calc((var(--contentwidth) * -1) + (var(--binocwidth-m) / 2) + (var(--edgemargin) * 2) + 0.125rem);	}
.right-n.qqcontents-small {
	left: calc((var(--contentwidth) * -1) + (var(--binocwidth-s) / 2) + (var(--edgemargin) * 2) + 0.125rem);	}

.right-n > .sharkfin,
.farright-n > .sharkfin {
	left: calc(var(--contentwidth) - (var(--edgemargin) * 3) - 0.25rem);	}

.right-n > .bordercover,
.farright-n > .bordercover {
	left: calc(var(--contentwidth) - (var(--edgemargin) * 3) - 0.25rem);	}

.specialmiddleleft-n.qqcontents-large,
.specialtopleft-n.qqcontents-large,
.specialbottomleft-n.qqcontents-large,
.extremetopleft-n.qqcontents-large,
.extremebottomleft-n.qqcontents-large {
	left: calc(var(--binocwidth-l) + (var(--edgemargin) * 2));	}
.specialmiddleleft-n.qqcontents-medium,
.specialtopleft-n.qqcontents-medium,
.specialbottomleft-n.qqcontents-medium,
.extremetopleft-n.qqcontents-medium,
.extremebottomleft-n.qqcontents-medium {
	left: calc(var(--binocwidth-m) + (var(--edgemargin) * 2));	}
.specialmiddleleft-n.qqcontents-small,
.specialtopleft-n.qqcontents-small,
.specialbottomleft-n.qqcontents-small,
.extremetopleft-n.qqcontents-small,
.extremebottomleft-n.qqcontents-small {
	left: calc(var(--binocwidth-s) + (var(--edgemargin) * 2));	}

.specialmiddleleft-n > .sharkfin,
.specialtopleft-n > .sharkfin,
.specialbottomleft-n > .sharkfin,
.extremetopleft-n > .sharkfin,
.extremebottomleft-n > .sharkfin {
	left: calc((var(--edgemargin) * -1) - 0.0625rem);	}
.specialmiddleleft-n > .bordercover,
.specialtopleft-n > .bordercover,
.specialbottomleft-n > .bordercover,
.extremetopleft-n > .bordercover,
.extremebottomleft-n > .bordercover {
	left: calc((var(--edgemargin) * -1) + 0.125rem);	}

.specialmiddleright-n,
.specialtopright-n,
.specialbottomright-n,
.extremetopright-n,
.extremebottomright-n {
	left: calc((var(--contentwidth) * -1) - (var(--edgemargin) * 2));	}

.specialmiddleright-n > .sharkfin,
.specialtopright-n > .sharkfin,
.specialbottomright-n > .sharkfin,
.extremetopright-n > .sharkfin,
.extremebottomright-n > .sharkfin {
	left: calc(var(--contentwidth) - var(--edgemargin) - 0.1875rem);	}
.specialmiddleright-n > .bordercover,
.specialtopright-n > .bordercover,
.specialbottomright-n > .bordercover,
.extremetopright-n > .bordercover,
.extremebottomright-n > .bordercover {
	left: calc(var(--contentwidth) - var(--edgemargin) - 0.375rem);	}



/* >= 390px: WIDESCREEN CLASS ZONES APPLIED VIA JS + CONTENT BOX WIDTH CHANGES +++++++++++++++++++++++++++++++ */
/* ALL CLASS ZONES MUST BE SET FROM SCRATCH
   THIS (AND < 390px ABOVE) SHOULD BE THE ONLY PLACES I SET CLASS ZONES */
@media (min-width: 390px) {
	:root {
		--contentwidth: 50vw;    }    /* content width = 14/28 (50vw), applied above in line ~174 */
	#qq-x {
		left: calc(46.429vw - 1.094rem);    }

	.center.qqcontents-large {    
		left: calc((var(--contentwidth) / -2) + (var(--binocwidth-l) / 2));	}
	.center.qqcontents-medium {    
		left: calc((var(--contentwidth) / -2) + (var(--binocwidth-m) / 2));	}
	.center.qqcontents-small {    
		left: calc((var(--contentwidth) / -2) + (var(--binocwidth-s) / 2));	}

	.center > .sharkfin,
	.center > .bordercover {
		left: calc((var(--contentwidth) / 2) - var(--edgemargin) - 0.125rem);	}

	.top.qqcontents-large {
		margin-top: calc(var(--edgemargin) + var(--binocheight-l)); }
	.top.qqcontents-medium {
		margin-top: calc(var(--edgemargin) + var(--binocheight-m)); }
	.top.qqcontents-small {
		margin-top: calc(var(--edgemargin) + var(--binocheight-s)); }

	.top > .sharkfin {
		top: calc((var(--edgemargin) * -1) - 0.0625rem);	}
	.top > .bordercover {
		top: calc((var(--edgemargin) * -1) + 0.125rem);	}

	.specialmiddleright,
	.specialbottomright,
	.extremebottomright,
	.specialtopright,
	.extremetopright {
		left: calc((var(--contentwidth) * -1) - (var(--edgemargin) * 3));	}

	.specialmiddleright > .sharkfin,
	.specialbottomright > .sharkfin,
	.extremebottomright > .sharkfin,
	.specialtopright > .sharkfin,
	.extremetopright > .sharkfin {
		left: calc(var(--contentwidth) - var(--edgemargin) - 0.1875rem);	}

	.specialmiddleright > .bordercover,
	.specialbottomright > .bordercover,
	.extremebottomright > .bordercover,
	.specialtopright > .bordercover,
	.extremetopright > .bordercover {
		left: calc(var(--contentwidth) - var(--edgemargin) - 0.375rem);	}

	.specialmiddleleft.qqcontents-large,
	.specialbottomleft.qqcontents-large,
	.extremebottomleft.qqcontents-large,
	.specialtopleft.qqcontents-large,
	.extremetopleft.qqcontents-large {
		left: calc((var(--binocwidth-l) * 1) + (var(--edgemargin) * 3));	}

	.specialmiddleleft.qqcontents-medium,
	.specialbottomleft.qqcontents-medium,
	.extremebottomleft.qqcontents-medium,
	.specialtopleft.qqcontents-medium,
	.extremetopleft.qqcontents-medium {
		left: calc((var(--binocwidth-m) * 1) + (var(--edgemargin) * 3));	}

	.specialmiddleleft.qqcontents-small,
	.specialbottomleft.qqcontents-small,
	.extremebottomleft.qqcontents-small,
	.specialtopleft.qqcontents-small,
	.extremetopleft.qqcontents-small {
		left: calc((var(--binocwidth-s) * 1) + (var(--edgemargin) * 3));	}

	.specialmiddleleft > .sharkfin,
	.specialbottomleft > .sharkfin,
	.extremebottomleft > .sharkfin,
	.specialtopleft > .sharkfin,
	.extremetopleft > .sharkfin {
		left: calc((var(--edgemargin) * -1) - 0.063rem);	}

	.specialmiddleleft > .bordercover,
	.specialbottomleft > .bordercover,
	.extremebottomleft > .bordercover,
	.specialtopleft > .bordercover,
	.extremetopleft > .bordercover {
		left: calc((var(--edgemargin) * -1) + 0.1rem);	}

	.extremetopright > .sharkfin,
	.extremetopleft > .sharkfin,
	.extremetopright > .bordercover,
	.extremetopleft > .bordercover {
		top: calc((var(--contentpadding) * -1) - var(--edgemargin));	}

}    /* close >= 390 mediquery */


/* >= 650px: CONTENT WIDTH CHANGES + EDGE MARGIN WIDTH CHANGES +++++++++++++++++++++++++++++++ */
@media (min-width: 650px) {
	:root {
		--contentwidth: 64.283vw;    /* content width = 18/28 (64.283vw), applied above in line ~174 */
		--edgemargin: 10px;    }    /* set within a script at bottom of qq-position.js */
	#qq-x {
		left: calc(60.712vw - 1.094rem);    }
}    /* close >= 650 mediquery */


/* >= 817px: CONTENT WIDTH CHANGE +++++++++++++++++++++++++++++++ */
@media (min-width: 817px) {
    :root {
		--contentwidth: 525px;    /* content width applied above in line ~174 */
		--contentpadding: 58.333px;    }    /* content padding applied above in line ~169 */
    #qq-x {
        top: calc(29.175px - 0.844rem);
        left: calc(495.825px - 1.094rem);    }
}    /* close >= 817 mediquery */


/* >= 1225px: CONTENT WIDTH CHANGE + EDGE MARGIN WIDTH CHANGE +++++++++++++++++++++++++++++++ */
@media only screen and (min-width: 1225px) {
	:root {
		--binocwidth-l: 209px;    /* changing from vw's to px's; applied above in lines ~31, 212, 214  */
		--binocheight-l: 96.4px;    }    /* changing from vw's to px's; applied above in lines ~31, 213, 215  */
	.qqcontents {
		z-index: 2;
	}
}    /* MIN 1225px GROW ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


















































