/* QQ page set-up ---------------------------------------------------------------------------------------------------- */

#qqpagetitle p {
	padding-top: calc(10.714vw - 0.25rem);
	margin: 0 auto 1.536rem auto;    }

#qqpagetext p {
	margin: 0 auto;
	line-height: 1.6;    }

#qqpagetitle p,
#qqpagetext p {
	width:  78.571vw;    }

.qqpiece {
	position: absolute;
	display: block;    }


/* Building the binocs ---------------------------------------------------------------------------------------------------- */

.largeqqglasses,
.mediumqqglasses,
.smallqqglasses {
	position: absolute;
	cursor: pointer;    }

/* TRYING OUT PUTTING THESE DOWN IN THE CONTENT POSITIONING AREA WITH THE OTHER CSS VARIABLES */

.largeqqglasses {
	width: var(--binocwidth-l);
	height: var(--binocheight-l);    }

.mediumqqglasses {
	width: var(--binocwidth-m);
	height: var(--binocheight-m);
	opacity: 0.9;    }

.smallqqglasses {
	width: var(--binocwidth-s);
	height: var(--binocheight-s);
	opacity: 0.8;    }

.largeqqglasses > .lens {
	border-width: calc(var(--binocwidth-l) * 0.045 * 0.833);    }

.mediumqqglasses > .lens {
	border-width: calc(var(--binocwidth-m) * 0.045 * 0.833);    }

.smallqqglasses > .lens {
	border-width: calc(var(--binocwidth-s) * 0.045 * 0.833);    }

.lens {
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	border-color: black;
	border-style: solid;
	height: 100%;
	width: 46.124%;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;    /* ONLY IF ZOOMING FROM CTR OF GLASSES AS A WHOLE RATHER THAN INTO THE CTR OF EACH LENS */
	-webkit-transition: background-size 0.5s;    /* for Safari */
	transition: background-size 0.5s;    
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;    }

.l-lens {
	background-position: 100% 50%;    }

.r-lens {
	position: absolute;
	left: 53.94%;
	background-position: 0% 50%;    }

.qqglassescontainer:hover > .lens {
	background-size: auto 175%;    }

.qqselected > .lens {
	background-size: auto 175%;    }

.knob {
	box-sizing: border-box;
	display: inline-block;
	position: absolute;
	left: 42.3%;
	background-color: black;
	height: 33.9%;
	width: 15.636%;
	border-radius: 50%;    }

.trapezoid-large,
.trapezoid-medium,
.trapezoid-small {
	height: 0;
	width: 28.5%;
	position: absolute;
	display: inline-block;
	left: 35.55%;
	top: 8.71%;    }

.trapezoid-large {
	border-top: calc(var(--binocwidth-l) * 0.145) solid black;    /* TRAPEZOID NEEDS PIXELS! */
	border-left: calc(var(--binocwidth-l) * 0.072) solid transparent;
	border-right: calc(var(--binocwidth-l) * 0.072) solid transparent;    }

.trapezoid-medium {
	border-top: calc(var(--binocwidth-m) * 0.145) solid black;
	border-left: calc(var(--binocwidth-m) * 0.072) solid transparent;
	border-right: calc(var(--binocwidth-m) * 0.072) solid transparent;    }

.trapezoid-small {
	border-top: calc(var(--binocwidth-s) * 0.145) solid black;
	border-left: calc(var(--binocwidth-s) * 0.072) solid transparent;
	border-right: calc(var(--binocwidth-s) * 0.072) solid transparent;    }


/* QQ BOXES FOR TESTING BINOC MARGIN RANGES ---------------------------------------------------------------------------------------------------- */

.largeqqbox,
.mediumqqbox,
.smallqqbox {
	position: absolute;    }

.largeqqbox {
	background-color: purple;
	opacity: 0.5;
	width: calc(17.05vw + 2.5rem);
	height: calc(7.866vw + 2.5rem);    }

.mediumqqbox {
	background-color: blue;
	opacity: 0.5;
	width: calc((17.05vw * 0.75) + 2.5rem);
	height: calc((7.866vw * 0.75) + 2.5rem);    }

.smallqqbox {
	background-color: green;
	opacity: 0.5;
	width: calc((17.05vw * 0.5) + 2.5rem);
	height: calc((7.866vw * 0.5) + 2.5rem);    }

/* MIN 1225px GROW ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media only screen and (min-width: 1225px) {
	.largeqqbox {
		width: calc(209px + 2.5rem);
		height: calc(96.4px + 2.5rem);    }
	.mediumqqbox {
		width: calc((209px * 0.75) + 2.5rem);
		height: calc((96.4px * 0.75) + 2.5rem);    }
	.smallqqbox {
		width: calc((209px * 0.5) + 2.5rem);
		height: calc((96.4px * 0.5) + 2.5rem);    }
}    /* MIN 1225px GROW ++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* CONTENTS (QUESTIONS + EXPLANATORY TEXT) OF EACH BINOC ---------------------------------------------------------------------------------------------------- */

.qqcontents {
	background-color: white;
	border-style: solid;
	border-color: black;
	z-index: 1;
	position: absolute;
	/* position: relative; */
	border-width: 0.125rem;
	padding: 7.143vw;
	width: var(--contentwidth);    }

#qq-x {
	position: absolute;
	top: calc(3.571vw - 0.844rem);
	left: calc(75vw - 1.094rem);    }

.qqquestion {
	margin-bottom: 0.768rem;    }

#sharkfin {
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 0.125rem;
	position: absolute;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari */
	transform: rotate(45deg);    }

#bordercover {
	background-color: white;
	border-style: solid;
	border-color: white;
	border-width: 0.125rem;
	position: absolute;
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari */
	transform: rotate(45deg);    }


/* "CLASS ZONES": JS-DETERMINED, CSS-STYLED TO MAKE THE SHARKFIN AND CONTENT BOX OPTIMALLY POSITIONED ---------------------------------------------------------------------------------------------------- */
/* WILL NEED TO SET class zones that are dependent upon binoc width or height 3 times over, once for each binco size
   These calculations will be identical to each other, except the one for large binocs will include "var(--binocwidth-l)"
   and the one for med binocs will include "var(--container-width-m)" instead, for instance.
   .qqcontents-large.center {...} (THE TWO CLASSES GO RIGHT NEXT TO EACH OTHER WITHOUT A SPACE!) */

/* < 390px: NARROW CLASS ZONES APPLIED VIA JS (no mediaquery needed; I will come back and add classes once I do the JS if-statements for this) +++++++++++++++++++++++++++++++ */
/* ALL CLASS ZONES (FOR NARROW SCREENWIDTHS) MUST BE SET FROM SCRATCH
   THIS (AND >= 390px BELOW) SHOULD BE THE ONLY PLACES I SET CLASS ZONES */
:root {
 	--binocwidth-l: 17.05vw;    /* binoc width (large) applied above in lines ~31 */
	--binocheight-l: 7.866vw;    /* binoc height (large) applied above in lines ~32 */
	--binocwidth-m: calc(var(--binocwidth-l) * 0.75);    /* binoc width (med) applied above in lines ~35 */
	--binocheight-m: calc(var(--binocheight-l) * 0.75);    /* binoc height (med) applied above in lines ~36 */
	--binocwidth-s: calc(var(--binocwidth-l) * 0.5);    /* binoc width (small) applied above in lines ~40 */
	--binocheight-s: calc(var(--binocheight-l) * 0.5);    /* binoc height (small) applied above in lines ~41 */
	--contentwidth: 78.571vw;    /* content width = 22/28 (78.571vw), applied above in line ~174 */
	--edgemargin: 1.79vw;    }    /* edge margin = 1/56 (1.79vw), set within a script at bottom of qq-position.js */
#sharkfin,
#bordercover {
	width: calc(var(--edgemargin) * 2);
	height: calc(var(--edgemargin) * 2);    }


/* >= 390px: WIDESCREEN CLASS ZONES APPLIED VIA JS + CONTENT BOX WIDTH CHANGES +++++++++++++++++++++++++++++++ */
/* ALL CLASS ZONES MUST BE SET FROM SCRATCH
   THIS (AND < 390px ABOVE) SHOULD BE THE ONLY PLACES I SET CLASS ZONES */
@media (min-width: 390px) {
	:root {
		--contentwidth: 50vw;    }    /* content width = 14/28 (50vw), applied above in line ~174 */
	#qq-x {
		left: calc(46.429vw - 1.094rem);    }

	.center.qqcontents-large {    
		left: calc((var(--contentwidth) / -2) + (var(--binocwidth-l) / 2));	}
	.center.qqcontents-medium {    
		left: calc((var(--contentwidth) / -2) + (var(--binocwidth-m) / 2));	}
	.center.qqcontents-small {    
		left: calc((var(--contentwidth) / -2) + (var(--binocwidth-s) / 2));	}

	.top.qqcontents-large {
		margin-top: calc(var(--edgemargin) + var(--binocheight-l)); }
	.top.qqcontents-medium {
		margin-top: calc(var(--edgemargin) + var(--binocheight-m)); }
	.top.qqcontents-small {
		margin-top: calc(var(--edgemargin) + var(--binocheight-s)); }

	.bottom.qqcontents-large {
		/* NEED TO FIGURE OUT HOW TO COLLECT CONTENT BOX'S HEIGHT... MAY NEED TO ASSIGN THIS ONE IN JS OTHERWISE */
	}
	.bottom.qqcontents-medium {
		/* NEED TO FIGURE OUT HOW TO COLLECT CONTENT BOX'S HEIGHT... MAY NEED TO ASSIGN THIS ONE IN JS OTHERWISE */
	}
	.bottom.qqcontents-small {
		/* NEED TO FIGURE OUT HOW TO COLLECT CONTENT BOX'S HEIGHT... MAY NEED TO ASSIGN THIS ONE IN JS OTHERWISE */
	}

	.left.qqcontents-large {
		/* NEED TO FIGURE OUT HOW TO COLLECT CONTENT BOX'S LEFT LOCATION... MAY NEED TO ASSIGN THIS ONE IN JS OTHERWISE */
	}
	.left.qqcontents-medium {    
		/* NEED TO FIGURE OUT HOW TO COLLECT CONTENT BOX'S LEFT LOCATION... MAY NEED TO ASSIGN THIS ONE IN JS OTHERWISE */
	}
	.left.qqcontents-small {    
		/* NEED TO FIGURE OUT HOW TO COLLECT CONTENT BOX'S LEFT LOCATION... MAY NEED TO ASSIGN THIS ONE IN JS OTHERWISE */
	}

	.specialmiddleright,
	.specialbottomright,
	.extremebottomright,
	.specialtopright,
	.extremetopright {
		/* THESE CLASS ZONES CAN ONLY DO HORIZONTAL POSITIONING AS OF NOW; NEED TO FIGURE OUT HOW TO COLLECT CONTENT BOX'S HEIGHT... MAY NEED TO ASSIGN THESE ONES IN JS OTHERWISE */
		left: calc((var(--contentwidth) * -1) - (var(--edgemargin) * 3));	}

	.specialmiddleleft,
	.specialbottomleft,
	.extremebottomleft,
	.specialtopleft,
	.extremetopleft {
		/* THESE CLASS ZONES CAN ONLY DO HORIZONTAL POSITIONING AS OF NOW; NEED TO FIGURE OUT HOW TO COLLECT CONTENT BOX'S HEIGHT... MAY NEED TO ASSIGN THESE ONES IN JS OTHERWISE */
		left: calc(var(--contentwidth) + (var(--edgemargin) * 3));	}

}    /* close >= 390 mediquery */


/* >= 650px: CONTENT WIDTH CHANGES + EDGE MARGIN WIDTH CHANGES +++++++++++++++++++++++++++++++ */
@media (min-width: 650px) {
	:root {
		--contentwidth: 64.283vw;    /* content width = 18/28 (64.283vw), applied above in line ~174 */
		--edgemargin: 10px;    }    /* set within a script at bottom of qq-position.js */
	#qq-x {
		left: calc(60.712vw - 1.094rem);    }
}    /* close >= 650 mediquery */


/* >= 817px: CONTENT WIDTH CHANGE +++++++++++++++++++++++++++++++ */
@media (min-width: 817px) {
    :root {
		--contentwidth: 525px;    }    /* content width applied above in line ~174 */
    .qqcontents {
        padding: 58.33px;    }
    #qq-x {
        top: calc(29.175px - 0.844rem);
        left: calc(495.825px - 1.094rem);    }
}    /* close >= 817 mediquery */


/* >= 1225px: CONTENT WIDTH CHANGE + EDGE MARGIN WIDTH CHANGE +++++++++++++++++++++++++++++++ */
@media only screen and (min-width: 1225px) {
	:root {
		--binocwidth-l: 209px;    /* changing from vw's to px's; applied above in lines ~31, 212, 214  */
		--binocheight-l: 96.4px;    }    /* changing from vw's to px's; applied above in lines ~31, 213, 215  */
}    /* MIN 1225px GROW ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


















































