@media (min-width: 442px) {
    footer {
        margin-top: 0;    }
    body {
        padding-bottom: 0;    }
}

@media (min-width: 1225px) {
    footer {
        padding: 58.333px 0;    }
    #searchdecoy {
        height: 1.476rem !important;
        width: 1.476rem !important;
        padding: 0 0.316rem 0.316rem 0.316rem;    }
}















