/* "1 lh" = 2.048rem = the height of one lineheight's-worth of m-textface at 1.6 lineheight (although the base line height on <body> tag is actually set to 1.7; but I am keeping these rem measurements, because they look good) */

/* HOME PAGE -------------------------------------------------- */
 
header {    /* Holds blog name + tagline */
    padding-top: 10.714vw;    }    /* 2/28 cols */

#tagline { 
    text-align: center;
    margin: 1.536rem 0 2.048rem 0;   }    /* top + bottom: .75 lh */

#homedate {
    margin-top: 2.048rem;    }    /* .75 lh */

#homeintro {
    hyphens: manual;
    margin: 1.024rem 0 0.512rem 0;    }    /* top: .5 lh, bottom: .25 lh */

#readmore {
    display: inline;
    padding: 0.6em 0.5em 0.5em 0;    }

#hometaggroup {  
    line-height: 2.2;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-left: -0.3rem;     }

#hometag {
    margin: 0.512rem 0 1.536rem 0;    }    /* top: .25 lh, bottom: .75 lh */


/* HOME + POST PAGES -------------------------------------------------- */

.date {
    padding-top: 0.512rem;    /* top: .25 lh */
    margin-bottom: 1.024rem;    /* .5 lh */
    border-style: solid none none none;    }

/* Setting the stroke weight for the lines above date, and below captions */
.date,
figcaption {
    /* border-width: 1.8vw; */    /* This should match 9/10 (to account for optical illusion) of the weight of the main postglasses' outline; the ratio of postglasses' width to stroke weight is 25:1; */
    border-width: 0.22rem;    }

.posttitle {
    /* hyphens: manual; */    /* This did not work; the "&shy;" showed us as characters on the screen regardless of what I did */
    margin-top: 2.048rem;    }    /* 1 lh | This id was needed because <h2> couldn't hold margins because different margins are needed between post titles and About, etc pages, and <h2> would cascade to override either ids; id that holds margins for About, etc pages' is .extracontentpagetitle */

#writtenby {
    margin-right: 0.2em;
    letter-spacing: 0.1em;    }

.writer {
    letter-spacing: 0.175em !important;    }

.writer a {
    padding: 0.6em 0.5em 0.3em 0;    }

.writer p {
    display: inline;    }

.guestpostbanner {
    background-color: black;
    color: white;
    margin-right: 0.4em;
    padding: 0.2rem 0.2rem 0.1rem 0.2rem;    }
    
.tag {
    white-space: nowrap;
    padding: 0.6em 0.5em 0.5em 0;
    /* padding: 0.6em 0.5em 0.5em 0.5em; */    }    /* Finessing to be perfectly centered */


/* POSTGLASSES -------------------------------------------------- */

:root {
    --glasseswidth: 50vw;    }

.postglassescontainer {
    width: var(--glasseswidth);
    height: calc(var(--glasseswidth) * 0.393);
    margin: 1.024rem auto 1.536rem auto;    /* top: .5 lh, bottom: .75 lh */
    display: block;    }
.postglassescontainer:hover > .circle,
#postlink:hover .circle {
    background-size: 160%;
    background-position: 41.5% 42%;    } 

.circle,
.stem {
    border-color: black;
    border-width: calc(var(--glasseswidth) * 0.035);
    border-style: solid;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;    }

.circle {
    height: calc(var(--glasseswidth) * 0.393);
    width: calc(var(--glasseswidth) * 0.393);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;  }

.leftcircle {
    left: -0.5%;    }
.rightcircle {
    left: -1.75%;        }

.leftcircle,
.rightcircle {
    -webkit-transition: background-size 0.5s;    /* for Safari */
    transition: background-size 0.5s;    
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;    }

.stem {
    display: inline-block;
    border-style: solid none none none;
    width: calc(var(--glasseswidth) * 0.053);
    position: relative;
    top: calc(0vw - (var(--glasseswidth) * 0.197));
    border-width: 0;
    border-top-width: calc(var(--glasseswidth) * 0.035);    }

.centerstem {
    width: calc(var(--glasseswidth) * 0.107);
    left: -1%;    }

.rightstem {
    left: -2.25%;
    width: calc(var(--glasseswidth) * 0.053);    }


/* POST PAGE -------------------------------------------------- */

#backarrowcontainer {
    float: right;    /* Pushes the group as a whole to the right */
    position: absolute;
    top: calc(10.714vw - 0.175rem);
    right: calc(10.714vw + 2.3rem);
    height: 0;    }    /* Matching height of icon + padding, otherwise it is too big and you can hover on a part that is in this container, but not the icon or its padding, and the hover words show when the icon's padding isn't yellow */

#backarrowhoverwords {    /* !!! This is only for backarrow HOVER TEXT */
    display: none;    }

#backarrowcontainer:hover > #backarrowhoverwords {    /* !!! This is only for backarrow HOVER TEXT */
    display: none;    }

#backarrow {    /* This is just here in case I put the HTML for it back in */
    box-sizing: content-box;    /* Preventing the padding from cutting into the yellow hover state */
    width: 1.407rem;
    padding: 0.316rem;
    cursor: pointer;    }   

.mockmain {    /* This applies to the article element which holds all the post content and top part of Archive page; it is taking the place of <main> on post page, because there's only one <main> element allowed per page, but it has to split into two to allow wider #relevantreading <section> to fit between, to accomodate RR results with margins that extend beyond <main> */
    max-width: 1225px;
    width: 78.571%;    /* 22/28 cols | Use % here instead of vw because they can be used inside the max-width */
    margin: 0 auto;    }

#pre-rr {
    padding-top: 10.714vw;    }    /* 3/28 cols */

#postdate {
    /* width: calc(78.571vw - 1.914rem); */    }

.postdatewidth {
    width: calc(78.571vw - 1.914rem);    }

.postdatewidthbackarrow {
    /* width: calc(78.571vw - 1.914rem); */
    width: calc(78.571vw - 5.25rem);    }

.guestwriter p {
    display: inline;    }

.guestwriterbanner {
    background-color: black;
    color: white;
    margin-right: 0.35rem;
    padding: 0.2rem 0.2rem 0.1rem 0.2rem;    }

#postintro {     /* Introductory paragraph of post, on post page only */
    display: block;    /* This is so the margins will be recognized, since margins won't apply to inline elements (at least in this case) */
    margin: 1.024rem 0 0.512rem 0;    }    /* top: .5 lh, bottom: .25 lh */

#postintro p {
    hyphens: manual;    }    /* This applies to intro on the post page; it needs hyphenation but the auto-wrapping <p> tags surrounding text called from the panel is interfering with any potential hyphenation class being applied */

#posttagshare {     /* Groups the tags and share icons into one div; the HTML id is located in blogarticle.php template, surrounding the tag and share snippets */
    margin: 0.512rem 0;    }    /* top + bottom: .25 lh */

#posttaggroup {  
    /* line-height: 2.63; */
    line-height: 2.2;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin-left: -0.3rem;     }

#share {    /* Applies to all the share icons together as a whole */
    padding-left: 0.422rem;
    float: right;    }

.pullquotesquare {
    background-color: #e2e43a;
    width: 3.55rem;
    height: 3.55rem;
    position: absolute;
    left: 3.571vw;    }

.pullquotecircle {
    background-color: #e2e43a;
    width: 3.55rem;
    height: 3.55rem;
    position: absolute;
    left: 3.571vw;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;   }

.pullquote {
    hyphens: manual;
    position: relative;
    width: 78.571vw;
    padding: 0.95rem 0;    }

#posttext {    /* The div that holds all text as a whole (and images called within text, galleries, inline vocab words, etc) */
    margin: 1.024rem 0;    }    /* top + bottom: .5 lh */

#posttext p {    /* This applies to each paragraph of text */
    clear: right;    /* This is to push the text all the way down istead of wrapping around share icons, in the instance they are pushed to the next line by tags */
    hyphens: manual;    /* This applies to content text on the post page; it needs hyphenation but the auto-wrapping <p> tags surrounding text called from the panel is interfering with any potential hyphenation class being applied */
    margin: 1.024rem 0;    }    /* top + bottom: .5 lh */

#posttext p:last-of-type {    /* This is just the last paragraph of text */
    display: inline;    }    /* This is to get the last paragraph to be inline, to accept the tiny article end glasses inline */

#articleendglasses {    /* The tiny glasses at the end of the article text */
    display: inline;
    width: 1.2em;    /* This equates to 15px based on m-textface size of 12.5px, so if I want to maintain text size to articleendglasses size ratio, keep this relative em measurement */
    margin: 0 0 0.15em 0.25em;    }    /* Finessing to be perfectly placed; since ems are relative to text size, these ratios should hold for all screen sizes and text sizes, if I also keep the icon sized via ems, like in above line */

.postpagesectionsummary {
    margin: 2.048rem 0;    }    /* top + bottom: 1 lh */
.postpagesectionsummary::-webkit-details-marker {    /* Setting up the custom icons instead of default toggles */
    display: none;    }

.vocabwordinline {    /* This applies to just the inline vocab word, via vocab.php in the site/tags folder */
    cursor: pointer;
    padding: 0.1em 0.2em;
    /* padding: 0.6em 0.3em 0.5em 0.5em; */    }    /* Based on line-height, but had to finesse optically, and pull in L + R a bit because it was too wide of a space between vocab word and other text inline */

#vocabwordanddefinition {
    margin: 1.024rem 0;    }

.glossaryvocabwordandaudio {    /* This applies to the vocab word, where it shows up with its definition in the glossary (and optionally, the audio icon next to it) */
    line-height: 1.6;   }    /* Would be 1.6 to match look of stacked blog name in display font, but had to adjust optically */

#pronunciation {
    white-space: nowrap;    }

.audioicon { 
    box-sizing: content-box;
    height: 0.703rem;    /* Had to make smaller than other icons to help it fit inline with potentially long phrases that wrap to next line, otherwise it would affect the text line-height */
    padding: 0.25em;
    vertical-align: middle;    /* This centers the icon with the vocab word text */
    margin-top: -.1em;    /* This is to finesse the vertical centering */
    cursor: pointer;    }

.definition {
    margin-bottom: 0.512rem;    }    /* .25 lh; would be .125 lh to match space between vocab word and definition, but had to adjust optically */

#uparrow {
    box-sizing: content-box;
    height: 0.694rem;    /* :) Had to make smaller than usual 15px for icons to help it fit inline with potentially long phrases that wrap to next line, otherwise it would affect the text line-height */
    padding: 0.3em;
    vertical-align: middle;    /* This centers the icon with the vocab word text */
    margin: -.35em 0 0 .25em;    /* This is to finesse the vertical centering */
    cursor: pointer;    }

.vocabillustration {
    margin-bottom: 0;
    max-width: 78.571vw;    }    /* 22/28 cols */

#rrsectionheader {    /* This applies to Relevant Reading's section header, which isn't encapsulated in the .post <article> class (so that the results can have a wider area to accommodate their margins needing to be on both sides for spacing) */
    max-width: 1225px;    
    width: 78.571%;    /* 22/28 cols | Use % here instead of vw because they can be used inside the max-width */
    margin: 2.048rem auto;    }    /* top + bottom: 1 lh*/

.postvideo-4-3-ratio {
    width: 78.571vw;
    height: 58.928vw;    }

.postvideo-16-9-ratio {
    width: 78.571vw;
    height: 44.196vw;    }

.hidepinnable {
    display: none;    }

/* COMMENTS (POST PAGE) -------------------------------------------------- */

.commentssummary {    /* Making it so the margin below comment section header only applies when it's open */
    margin-top: 0;
    margin-bottom: 0px;    }
.commentsdetails[open] .commentssummary {
    margin-bottom: 1.536rem;    }    /* .75 lh */

.onecomment {    /* This applies to already-posted comments' name + date + message */
    overflow: auto;    /* This line and the next are to fix a browser bug wherein this containing element thinks it is 0px tall because it only contains floated elements; see pp373-4 in HTML & CSS book */
    width: 100%;    /* This line and the previous are to fix a broswer bug wherein this containing element thinks it is 0px tall because it only contains floated elements; see pp373-4 in HTML & CSS book */
    margin-bottom: 1.536rem;    }    /* .75 lh | This is needed so the bottom comment has this same space between it and the first "Post a Comment" button */

#avatar {
    float: left;
    height: 10.714vw;    /* 3/28 cols */
    width: 10.714vw;    /* 3/28 cols */
    background-color: #e2e43a;    /* Currently be overridden by color randomizer code in comments.php, line ~44 */
    margin-right: 3.571vw;    }    /* right: 1/28 cols */

#namedatecomment {
    
    line-height: 1;
    margin-top: -0.3em;
    
    /* margin-top: -0.6em; */
    float: left;
    width: 64.286vw;   }    /* 18/28 cols | This should be <main>'s width in cols (22/28) minus avatar (2/28) minus space between this and avatar (2/28) = 18/28 cols */

#commentdate {
    white-space: nowrap;    }

#postedcomment {
    line-height: 1.7;
    margin-top: calc(10.714vw - 1.45rem);
    /* margin-top: calc(10.714vw - 1.7646rem); */   }

.postacommentbutton {
    -webkit-transition: background-color .2s ease-out;    /* for hover ease-in on inner-most Post a comment button's BG */
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;    }

.postacommentbutton:hover {    /* This applies to all "Post a comment" buttons */
    background-color: white;    }    /* Making the button BG color match the white page background */

#postacommentsummary {    /* This is the first "Post a comment" 'button' seen, before clicking it to open to the inputs */
    display: inline;    /* So the background color won't span the whole page */
    height: 1.875rem;
    /* padding: 0.5159rem 0.469rem 0rem 0.469rem; */    /* Finessing to be perfectly centered */
    padding-top: 0.5159rem;
    padding-right: 0.469rem;
    padding-bottom: 0.4rem;
    padding-left: 0.469rem;
    border-style: solid;
    border-width: 0.125rem;
    border-color: black;
    cursor: pointer;
    background-color: black;
    -webkit-transition: background-color .2s ease-out;    /* for hover ease-in on outer-most Post a comment button's BG */
    -moz-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color 2s ease-out;
    -webkit-transition: color .2s ease-out;    /* for hover ease-in on outer-most Post a comment button's text */
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;    }
#postacommentsummary:hover {
    background-color: white;
    color: black;    }

abbr {
    text-decoration: none;    }    /* Fixing the weird default dotted underline under the required asterisks (*) */

.comments input {    /* This applies to Name field (and any other comment input fields except "Message" + "Post a comment" button) */
    border-width: 0.125rem;
    border-style: solid;
    border-color: black;    }

#namelabel {    /* :) This applies to just the Name field's "label" which isn't visually shown, but is needed here because the name input id won't apply a top border and this will */
    margin-top: 1.024rem;    }    /* .5 lh */

#name {
    margin-bottom: 0.9375rem;    }    /* Half the height of the name input and button's height of 1.875rem */

#message {    /* This applies to only to the actual comment message input field */
    line-height: 1.7;    
    padding: 0.313rem 0.438rem;    
    height: 5.877rem;
    resize: none;    }    /* This is to get rid of the ability to resize the field; it should scroll automatically if needed */

#submit {    /* This is the id for the second (inside) "Post a comment" button (I'm afraid to change the id in case it messes up the original Kirby comments functionality) */
    display: block;
    height: 1.875rem;
    margin-top: 0.3752rem;    }    /* Finessing spacing to optically match space between name and message inputs */

#postacommentdetails {    /* Setting up the "x" button to replace the default <details> */
    position: relative;    }    
#postacommentdetails summary::-webkit-details-marker {
    display: none;    }

#postacommentdetails[open] summary {    /* This is the "x" button for Post a Comment */
    background-image: url('../images/x-comments.svg');    /* I had to make this a special .SVG with transparent space built-in on the artboard so it could fake as padding when hovered on (really the BG color is the yellow) */
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0;    /* Trying to get the words "Post a comment" to go away; this is a hack, since screenreaders will still read it, but the "x" really means the opposite ... */
    border-style: none;
    height: 1.875rem;
    width: 1.875rem;    /* Width is needed in addition to height or the img will collapse to be too narrow*/
    position: absolute;    /* Moving the "x" down to the level of the second "Post a comment" button */
    bottom: 0;
    left: 8.430rem;    }    /* This is finessed to get the "x" in the exact proper position relative to the "Post a comment" button, leaving spacing between them */
#postacommentdetails[open] summary:hover {
    background-color: #e2e43a;   }


/* POST + ABOUT PAGES -------------------------------------------------- */

/* This class is assigned in the HTML to About pg img. 
This class is assigned via the site/tags/gallery.php kirbytag file to all gallery images (along with id="galleryimage").
This class is assigned via the site/tags/tag.php kirbytag file to all content images by default.
If I ever want to use a custom class on a content image, I can do this in the panel (via "class: xxx").
However, adding a class via the panel REPLACES this .contentimage class entirely (instead of overriding)!!!
So for any custom class added via the panel, I need to copy and paste all the properties of .contentimage and just replace the values I would have overridden, and also add new properties I want. */
.contentimage { 
    display: block;
    margin: 2.048rem auto 0 auto;    /* top: .75 lh | Leaving the bottom margin 0 since it depends if there's a caption (then figcaption specifies its top margin to cover this space) or another image (it's top margin covert the space) or text (figure specifies its bottom margin to cover the space) */
    max-width: 78.571vw;    /* 22/28 cols */
    /* max-height: 100vh; */    }    /* Making the images never taller than the browser window (1vh = 1% of vertical height of screen) */

figure {    /* This applies to the image + its caption (if it has one) as a whole */
    margin: 2.048rem 0;    }    /* top + bottom: .75 lh | This is needed so the text following a captionless image has this space between it and the image */

figcaption {    /* :) This applies to all places captions appear (post page single and/or gallery images, About page) */
    hyphens: manual;
    background-color: rgba(255, 255, 255, 0.95);
    padding-bottom:  1.024rem;    /* .5 lh */
    border-style: none none solid none;    /* For the non-desktop screens with a rule on the bottom */
    /* border-width: 1.71428vw; */    /* :) This should dynamically match the weight of the line of the postglasses below date, based on their width of 42.857vw (12/28 cols) and the ratio of the postglasses width to their line weight of 25:1 */ 
    margin: 1.024rem 0 2.048rem 0;    }    /* top: .5 lh, bottom: .75 lh */


/* GALLERY (post page) -------------------------------------------------- */

.gallery {
    position: relative;    }

#galleryimage {
    margin-top: -1.024rem;
    /* margin-top: 0; */
    /* margin-top: 1.024rem; */    }

.dotcontainer {
    margin-top: 0.512rem;    }

.dot {
    width: 0.56rem;   
    height: 0.56rem;  
    border-radius: 0.28rem;
    display: inline-block;    /* needed so that margins can apply to <span>s */
    margin: 0 0.14rem;    }

.dotimg {
    width: 0.56rem;   
    height: 0.56rem; 
    position: relative;
    top: -0.35rem;    }

.dotimgunfilled:hover {
    border-radius: 0.28rem;
    background-color: #e2e43a;
    cursor: pointer;    }

.arrowcontainer {
    float: right;    }

.galleryarrows {
    box-sizing: content-box;
    height: 0.844rem;
    width: 0.844rem;
    padding: 0.422rem;
    cursor: pointer;
    float: left;    }

#placeholderbox {
    /* background-color: rgba(255, 255, 0, 0.5); */
    z-index: -100;    }

.toprule {
    display: none;
    margin-top: -1.024rem;
    border-style: solid;
    border-color: black;
    border-width: 0.14rem;
    background-color: black;
    margin-bottom: 1.024rem;    }

.gallerycaption {
    margin-top: 1.584rem;    }


/* LIGHTBOX (POST PAGE) (must come after .contentimage, to override with the cascade, due to how the lightbox JS is written) -------------------------------------------------- */

.contentimage:hover {
    cursor: pointer;    }

#lightboxdotcontainer {
    position: absolute;
    bottom: 0;
    left: 0.512rem;    }

#singlelightbox {
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;    }

.lightboximage {
    cursor: auto !important;
    z-index: 101;
    max-width: 100vw;
    max-height: 100vh;
    margin-top: 0;    }

#lightboxclose {
    z-index: 103;
    position: absolute;
    top: calc(0.844rem - 0.422rem);
    left: calc(100vw - 0.844rem - 1.266rem);
    /* top: calc(5.357vw - 0.844rem); */
    /* left: calc(100vw - 5.357vw - 0.844rem); */    }    /* all the way to the R, but then back the width of itself + padding + margin */

.lightboxcaption {
    cursor: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    background-color: rgba(255, 255, 255, 0.95);
    margin: 0;
    padding: 2.11rem;
    /* padding-top: calc(10.714vw + 1.024rem); */
    padding-top: 3.13rem;
    border-style: none;
    width: 100vw;    }    /* 28/28 cols */

.lightboxcaption > .toprule {
    display: block;    }

#lightboxcaptionbar {    /* IS THIS STILL NEEDED? I THINK NOT... TEST */
    z-index: 103;
    width: 78.571vw;    /* 22/28 cols */
    height: 0.125rem;
    background-color: black;
    position: absolute;
    top: 10.714vw;
    left: 10.714vw;    }

#captiontoggle {
    z-index: 103;
    position: absolute;
    /*  top: calc(5.357vw - 0.844rem);
    left: calc(100vw - 5.357vw - 0.844rem - 5.357vw - 0.844rem); */
    top: 0.422rem;
    left: calc(100vw - 1.266rem - 0.844rem - 1.266rem - 0.422rem);    }

.hide {
    display: none;    }

.turn180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);    }

.lightboxarrowcontainer {
    position: absolute;
    bottom: 0.322rem;
    right: 0.422rem;    }


/* POST + LIBRARY PAGES -------------------------------------------------- */

.close-x {
    box-sizing: content-box;
    height: 0.844rem;
    width: 0.844rem;
    padding: 0.422rem;
    cursor: pointer;
    float: right;    }


/* ABOUT + ARCHIVE + LIBRARY PAGES -------------------------------------------------- */

.extracontentpagetitle {
    padding-right: 1.914rem;    /* when there's no backarrow */
    padding-top: calc(10.714vw - 0.25rem);    /* top: 3/28 cols, but finessing to center vertically with menu icon */
    margin-bottom: 1.536rem;    }    /* bottom: .5 lh */


/* ABOUT PAGE -------------------------------------------------- */

#aboutimage {
    cursor: auto;
    margin-top: -0.512rem;    }    /* .25 lh | Counteracting <figure>'s top margin to move top of About image closer to About page name optically */

#abouttext {
    hyphens: manual;    }


/* ARCHIVE PAGE -------------------------------------------------- */

#archivemenu {
    margin-bottom: 1.536rem;
    margin-top: 1.024rem;    }    /* top: .5 lh, bottom: .75 lh */

#archivemenuyear {    /* Applies to the years in the menu; this is only needed if I want to override any properties set by .sectionsummary, which applies to the year headings and section headings on other pages, and is also applied to the element that this is an ide for to get it to be the same size as them */  
    padding: 0.6em 0.4em 0.4em 0.7em;    }    /* Based on line-height, but finessing optically */

#archiveheadingarea {
    width:  78.571%;    /* 24/28 cols | Establishing a separate div so I can make it wider in screens with more than one result wide to accommodate margins I need to put on both L + R sides of all results so they have proper spacing between each other, but don't look like they're extending past the page margins */
    margin: 0 auto;    }  

.archivesectionsummary {
    margin: 0 auto;
    display: block;    }  

.archivesectiontoggleoff {
    display: none;    }  

#archiveyeartoggle {
    /* vertical-align: middle; */
    position: relative;
    top: 0.18rem;
    box-sizing: content-box;
    padding-right: 0.422rem;
    width: 0.844rem;    }


/* LIBRARY PAGE -------------------------------------------------- */

#libraryintro {
    hyphens: manual;    }

#librarysection {    /* :) Had to make a new section (24/28 col widths) that is wider than <main> to hold the margins of the library icons */
    overflow: auto;    /* :) This line and the next are to fix a broswer bug wherein this containing element thinks it is 0px tall because it only contains floated elements; see pp373-4 in HTML & CSS book */
    width: 85.77vw;    /* :) V-Mobile 24/28 cols | Had to round up slightly from 85.714vw to get the icons to fit 3-across */
    background-color: white;    
    margin: 7.143vw auto -3.571vw auto;     }    /* top: 2/28 cols, bottom: -1/28 cols | Trying to counteract other margins to make the space between library icon zone and above and below it match the space between library icons themselves */

#libraryentrydetails {    }

#libraryentrydetails[open] #libraryicon {
    border-width: 0.125rem;
    border-color: black;
    border-style: none none solid none;    }

.libraryentry {
    width: 78.571vw;
    margin: 0 3.571vw;
    float: left;    }

#libraryentrysummary::-webkit-details-marker {    /* :) Making the default triangle toggle go away */
    display: none;    }

.libraryicon {
    box-sizing: content-box;
    /* float: left; */
    margin-top: 7.143vw;
    margin-bottom: 0;
    margin-left: calc(7.143vw - 2px);
    margin-right: calc(7.143vw - 1px);
    padding-bottom: 7.143vw;    /* bottom: 2/28 cols | Used padding here instead of margin for just the bottom so the bottom underline on selection would have space between it and the icon, and would only be as long as the icon is wide */
    max-width: 14.286vw;    /* 4/28 cols */
    max-height: 14.286vw;    /* 4/28 cols */
    border-width: 0.125rem;
    border-style: none none solid none;
    border-color: transparent;    }
.libraryicon:hover {
    border-color: #c7c7c7;    }

.selected {
    border-color: black;    }

#library-x {
    margin-left: 0.844rem;
    float: right;    }

#libraryentrycontent {    /* Holds library entry name, about statement, citation (opt), etc */
    hyphens: manual;
    /* position: absolute; */    }    /* Leaving this (but commented out) + these comments for future explorations | Enable this to make the content span the width of all 3 icons, and L-align, but will also pin to top of icon area */

.libraryentry {
    margin-top: 1.024rem;
    margin-bottom: 1.024rem;    }

.libraryentryname > p {
    margin-top: 0.512rem;
    margin-bottom: 0.768rem;    }    /* .125 lh */

.libraryentryabout {
    line-height: 2;    }


/* SEARCH PAGE -------------------------------------------------- */

#searchpageform {
    width: 78.571vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.560rem;
    padding-top: calc(10.714vw - 0.469rem);    }    /* 3/28 cols, but finessing vertical centering of search bar with menu icon */

#searchpageinput {
    -webkit-appearance: none;
    padding-bottom: 0.1719rem;    /* Finessed the space between input word and underline bar to match space between input and bottom of field for subscribe + comment name fields (this is a different measurement than nav search's is, because they have different input text sizes, so the line-height (relative sizing) offsets each differently in px for the default spacing)*/
    width: calc(78.571vw - 3.602rem);    }    /* This should be [the width of <main> (22/28 cols = 78.571vw)[] minus [the width of magnifier icon + its padding + the width of menu icon + the space between them (30px + 17px + 15px = 62px)] */

#searchpagebutton {
    margin-top: 0.05rem;
    height: 1.688rem;
    padding: 0.422rem;    }

#searchpageicon {
    display: inline;
    height: 0.844rem;    }    

#searchpageintrotext {
    margin-top: 1.024rem;    }    /* .25 lh */

#nosearchresults {
    margin: 0 10.714vw;
    width: 78.571vw;    }


/* SEARCH + TAG PAGE -------------------------------------------------- */

#noresultmessage,
.searchtagresult {
    margin: 0 auto;
    width:  78.571vw;    }    /* Getting the width back to the same as <main>'s when there aren't results */


/* TAG PAGE -------------------------------------------------- */

#tagpagename {
    padding-top: calc(10.714vw - 3.5px);    /* top: 3/28 cols, but negative top margin needed to get title aligned with hamburger icon */
    margin-bottom: 2.560rem;    }    /* .5 lh */

.tagnobackarrow {
    padding-right: 1.914rem;    }    /* pre-backarrow */
 
.extrarightpadding {    /* This is called by the backarrow JS script for the library and tag page titles, to account for extra space needed by back arrow in the title area  */
    padding-right: 5.25rem;    } 

/* RESULTS -------------------------------------------------- */

.resultarea {
    width:  78.571%;    /* 24/28 cols | Establishing a separate div so I can make it wider in screens with more than one result wide to accommodate margins I need to put on both L + R sides of all results so they have proper spacing between each other, but don't look like they're extending past the page margins */
    margin: 0 auto;    }

#resultdate {
    padding-top: 0.256rem;    /* .125 lh; this is the space between the date and it's top border */
    margin: 1.536rem 0 0.512rem 0;    /* top: .75 lh, bottom: .25 lh */
    border-width: 0.15rem;    }    /* This should dynamically match the weight of the line of the resultglasses below date, based on their width of 28.571vw (8/28 cols) and the ratio of the resultglasses width to their line weight of 25:1; */ 

#resulttitle {
    hyphens: auto;
    text-overflow: ellipsis;    /* making words that are too long truncate with an ellipsis (e.g. PHOSPHORESCENCE) to keep from going outside the div width */
    /* white-space: nowrap; */    /* NOT ACTUALLY NEEDED this was making all titles truncate with "..." after just one line */
    overflow: hidden;    /* required for ellipse truncation to happen */
    margin: 1.024rem 0 0.256rem 0;    }    /* top: .5 lh, bottom: .125 lh */

#resulttaggroup {
    margin: 0.256rem 0 0 -0.3rem;    }    /* top: .125 lh, bottom: .75 lh */

#resulttag {
    padding: 0.3em 0.5em 0.3em 0.5em;    }    /* Finessing to be perfectly centered */


/* RESULTGLASSES -------------------------------------------------- */

:root {
    --resultglasseswidth: 28.571vw;    }

.resultglassescontainer {
    width: var(--resultglasseswidth);
    height: calc(var(--resultglasseswidth) * 0.393);
    margin: 0.512rem auto 1.024rem auto;    /* top: .25 lh, bottom: .5 lh */
    display: block;    }
.resultglassescontainer:hover > .resultcircle,
#postlink:hover .resultcircle {
    background-size: 160%;
    background-position: 41.5% 42%;    } 

.resultcircle,
.resultstem {
    border-color: black;
    border-width: calc(var(--resultglasseswidth) * 0.035);
    border-style: solid;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;    }

.resultcircle {
    height: calc(var(--resultglasseswidth) * 0.393);
    width: calc(var(--resultglasseswidth) * 0.393);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;  }

.resultleftcircle {
    left: -0.5%;    }
.resultrightcircle {
    left: -1.75%;        }

.resultleftcircle,
.resultrightcircle {
    -webkit-transition: background-size 0.5s;    /* for Safari */
    transition: background-size 0.5s;    
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;    }

.resultstem {
    display: inline-block;
    border-style: solid none none none;
    width: calc(var(--resultglasseswidth) * 0.053);
    position: relative;
    top: calc(0vw - (var(--resultglasseswidth) * 0.197));
    border-width: 0;
    border-top-width: calc(var(--resultglasseswidth) * 0.035);    }

.resultcenterstem {
    width: calc(var(--resultglasseswidth) * 0.107);
    left: -1%;    }

.resultrightstem {
    left: -2.25%;
    width: calc(var(--resultglasseswidth) * 0.053);    }





/* ERROR PAGE -------------------------------------------------- */

#brokenglasses {
    width: 100%;
    margin-top: 2.048rem;
    float: right;    }

