/* "1 lineheight" = the height of one lineheight's-worth of m-textface at 1.6 lineheight */

 /* TEXT
-------------------------------------------------- */

a {
    text-decoration: none;
    color: black;    }

#homeintro a:not(#readmore),    /* All the links in the home intro paragraph except "Read more" */
#postintro a,
#posttext a:not(.vocabwordinline),    /* All the links in the post's text except vocab words */
figcaption a,
#postedcomment a,
#abouttext a,
#qqpagetext a,
.libraryentryabout a,
.definition a,
.notecontent a,
.qqdescription a {
    /* text-decoration: underline; */    /* Leaving this as an alternative option until I settle on final solution for link styling */
    /* text-underline-position: under; */    /* This places the underline under the text with extra space to prevent crossing descenders |     /* Leaving this as an alternative option until I settle on final solution for link styling */
    /* text-decoration-color: #e2e43a; */    /* Leaving this as an alternative option until I settle on final solution for link styling */
    border-style: none none solid none;
    border-width: 1px;
    border-color: #c7c7c7;
    cursor: pointer;    }

#homeintro a:hover:not(#readmore),    /* All the links in the home intro paragraph except "Read more" */
#postintro a:hover,
#posttext a:not(.vocabwordinline):hover,    /* All the links in the post's text except vocab words */
figcaption a:hover,
#postedcomment a:hover,
#abouttext a:hover,
#qqpagetext a:hover,
.libraryentryabout a:hover {
    /* text-decoration-style: double; */    /* Leaving this as an alternative option until I settle on final solution for link styling */
    /* background-color: #e2e43a; */    /* Leaving this as an alternative option until I settle on final solution for link styling */
    /* text-decoration-color: black; */    /* Leaving this as an alternative option until I settle on final solution for link styling */
    border-style: none none solid none;
    border-width: 1px;
    border-color: black;    }

h1 {    /* This exclusively applies to the blog name; so I include padding, etc */
    font-size: 21.151px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level 5 | Fallback for browser's not processing rems */
    font-size: 1.322rem;    /* This is the rem equivalent of the px size */
    /* font-size: 1.586rem; */    /* Bumping up to level 6, relative to the base */
    font-family: 'Grotesque_Bold', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-align: center;
    /* padding: 0.6em 0.8em 0.4em 0.8em; */    /* :) This space should match the space between multiple lines of this type; leading = 160%, so space between = just 60% of type size */
    padding: 0.6em 0.6em 0.4em 0.5em;
    margin-bottom: 0.6em;    }    /* :) V-Mobile should match the space between multiple lines of this type; so leading = 160%, so space between = just 60% of type size */

h2 {     /* This applies to post names (home and post pages), and page names (About, Archive, Library) */
    font-size: 14.688px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level 3 | Fallback for browser's not processing rems */
    /* font-size: 0.918rem; */
    font-size: 1.102rem;    /* Bumping up to level 4, relative to the base */
    font-family: 'Grotesque_Bold', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;    }    /* All other display faces use .25em, but it looked far too big in this case, so I adjusted it optically to 0.2em */

h3 {    /* This is applied for semantic purposes to high-level "parts" of post page (Glossary, Relevant Reading, Comments, etc) */
    display: inline;    }    /* Needs to be inline to keep it on the same line as the <details><summary> triangular toggle */

.sectionsummary {    /* This is being used to style the <summary> headings so they stay inline with the carrot toggle (for Archive years, and high-level "parts" of post page (Glossary, Relevant Reading, Comments, etc)); also applied to V-Mobile nav words */
    font-size: 12.24px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level 2 | Fallback for browser's not processing rems */
    font-size: 0.765rem;    /* This is the rem equivalent of the px size */
    cursor: pointer;
    font-family: 'Grotesque_Bold', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    clear: both;
    margin-top: 2.048rem;
    margin-bottom: 1.536rem;
    padding: 0.6em 0.6em 0.5em 1em;    }    /* Finessing to be perfectly centered */
.postsectiondetails[open] .sectionsummary {
    margin-bottom: 1.536rem;    }

.m-display {
    font-size: 10.2px;    /* Mobile-V based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level 2 | Fallback for browser's not processing rems */
    font-size: 0.638rem;    /* This is the rem equivalent of the px size */
    cursor: pointer;
    font-family: 'Grotesque_Bold', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    clear: both;    }

.s-display {
    font-size: 8.5px;    /* Mobile-V based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level 0 | Fallback for browser's not processing rems */
    font-size: 0.531rem;    /* This is the rem equivalent of the px size */
    font-family: 'Grotesque_Bold', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .2em;    }

.xs-display {
    font-size: 7.083px;    /* Mobile-V based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level -1 | Fallback for browser's not processing rems */
    /* font-size: 0.443rem; */    /* This should be the proper rem, but in Chrome it's rendering much larger than the px measurement, so commenting it out, but leaving for future reference */
    font-family: 'Grotesque_Bold', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .25em;    }

.xxs-display {    /* TESTING FOR GUEST WRITER BANNER */
    font-size: 5.903px;    /* Mobile-V based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level -1 | Fallback for browser's not processing rems */
    /* font-size: 0.369rem; */    /* This should be the proper rem, but in Chrome it's rendering much larger than the px measurement, so commenting it out, but leaving for future reference */
    font-family: 'Grotesque_Bold', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .25em;    }

h4 {    /* This is reserved for sub-headings within post content */
    font-size: 18px;    /* Matches xl-textface size */
    font-size: 1.125rem;    /* This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans_Demi-Bold', Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    /* Making the headers bold */
    margin-top:  2.048rem;    }

.xl-textface {    /* Applied to search page input text and tag page name */
    font-size: 18px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 12.5px base at level 0, and this at level 3 | Fallback for browser's not processing rems */
    font-size: 1.125rem;    /* This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans_Light', Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    }    /* This font wasn't being recognized by the search page's searchbar when it was just the default in <body> so had to explicitly call it here */

h5 {    /* This is reserved for sub-headings within post content */
    font-size: 15px;     /* Matches l-textface size */
    font-size: 0.938rem;    /* This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans_Demi-Bold',  Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    /* Making the headers bold */
    margin-top:  2.048rem;    }

.l-textface {
    font-size: 15px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 12.5px base at level 0, and this at level 1 | Fallback for browser's not processing rems */
    font-size: 0.938rem;    /* This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans_Light',  Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    }    /* This font wasn't being recognized by QQ page unless explicitly called here */

h6 {    /* This is reserved for sub-headings within post content */
    font-size: 12.5px;    /* Matches m-textface size */
    font-size: 0.781rem;    /* This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans_Demi-Bold',  Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    /* Making the headers bold */
    margin-top:  2.048rem;    }

.m-textface {
    font-size: 12.5px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 12.5px base at level 0, and this at level 0 | Fallback for browser's not processing rems */
    font-size: 0.781rem;    /* This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans_Light',  Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    }    /* This font wasn't being recognized by QQ page unless explicitly called here */

.s-textface {
    font-size: 10.417px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 12.5px base at level 0, and this at level -1 | Fallback for browser's not processing rems */
    font-size: 0.651rem;    /* This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans_Light',  Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    }    /* This font wasn't being recognized by the nav searchbar when it was just the default in <body> so had to explicitly call it here */

.xs-textface {
    font-size: 8.681px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 12.5px base at level 0, and this at level -2 | Fallback for browser's not processing rems */
    font-size: 0.543rem;    }    /* This is the rem equivalent of the px size */

.figcaptionspacer {
    display: block !important;
    line-height: 1;
    margin-top: -0.543rem !important;
    font-size: 0;    }    /* Half of caption's font-size (xs-textface) */

.bold {
    font-family: 'Sintesi_Sans_Demi-Bold', Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    }

strong {
    font-family: 'Sintesi_Sans_Demi-Bold', Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    }

em {    /* This is the lighter italic; if I switch back to a heavier body copy, remove the "_Light" from this name to revert it to the matching heavier italic face */
    font-family: 'Sintesi_Sans_Light_Italic', Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    }

.blackbg {    /* I tried moving this to globalnavfooter.css right below .yellowhover, but it wasn't being recognized...maybe it was being overridden later in CSS...? */
    color: white;
    background-color: black;    }

.zerotracking {
    letter-spacing: -0.25em;    }

#posttext ul:not(.gallery) {
    list-style: disc;
    margin-left: 1.25em;
    margin-top: -0.65rem;    }

#posttext ul li:not(:first-child), {
    margin-top: 0.26rem;    }

#writtenby {
    font-family: 'Sintesi_Sans_True_Bold', Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    }

.pullquote {
    font-family: 'Sintesi_Sans_Demi-Bold', Geneva, Verdana, "Lucida Sans", "Lucida Grande", Arial, sans-serif;    }

sup {
    vertical-align: super;
    font-size: 0.75em;    }

sub {
    vertical-align: sub !important;
    font-size: 0.75em !important;
}

sup a {
    border-bottom-style: none !important;    }
