/* "1 lineheight" = the height of one lineheight's-worth of m-textface at 1.6 lineheight */
/* TO CALCULATE rem --> px CONVERSION AT INITIAL SCREENSIZE, MULTIPLY # of rem * 16 TO GET # of px */

 /* TEXT
-------------------------------------------------- */

a {
    text-decoration: none;
    color: black;    }

#homeintro a:not(#readmore),    /* All the links in the home intro paragraph except "Read more" */
#postintro a,
#posttext a:not(.vocabwordinline),    /* All the links in the post's text except vocab words */
figcaption a,
#process a,
#postedcomment a,
#abouttext a,
#qqpagetext a,
.libraryentryabout a,
.definition a,
.notecontent a,
.qqdescription a {
    /* text-decoration: underline; */    /* Leaving this as an alternative option until I settle on final solution for link styling */
    /* text-underline-position: under; */    /* This places the underline under the text with extra space to prevent crossing descenders |     /* Leaving this as an alternative option until I settle on final solution for link styling */
    /* text-decoration-color: #e2e43a; */    /* Leaving this as an alternative option until I settle on final solution for link styling */
    border-style: none none solid none;
    border-width: 1px;
    border-color: #c7c7c7;
    cursor: pointer;    }

#homeintro a:hover:not(#readmore),    /* All the links in the home intro paragraph except "Read more" */
#postintro a:hover,
#posttext a:not(.vocabwordinline):hover,    /* All the links in the post's text except vocab words */
figcaption a:hover,
#process a:hover,
#postedcomment a:hover,
#abouttext a:hover,
#qqpagetext a:hover,
.libraryentryabout a:hover {
    /* text-decoration-style: double; */    /* Leaving this as an alternative option until I settle on final solution for link styling */
    /* background-color: #e2e43a; */    /* Leaving this as an alternative option until I settle on final solution for link styling */
    /* text-decoration-color: black; */    /* Leaving this as an alternative option until I settle on final solution for link styling */
    border-style: none none solid none;
    border-width: 1px;
    border-color: black;    }

h1 {    /* This exclusively applies to the blog name; so I include padding, etc */
    font-size: 21.151px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level 5 | Fallback for browser's not processing rems */
    font-size: 1.322rem;    /* This is the rem equivalent of the px size */
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-align: center;
    padding: 0.6em;    /* :) This space should match the space between multiple lines of this type; leading = 160%, so space between = just 60% of type size */
    margin-bottom: 0.6em;    }    /* :) V-Mobile should match the space between multiple lines of this type; so leading = 160%, so space between = just 60% of type size */

h2 {     /* This applies to post names (home and post pages), and page names (About, Archive, Library) */
    font-size: 21.151px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level 3 | Fallback for browser's not processing rems */
    font-size: 1.322rem;
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;    }    /* All other display faces use .25em, but it looked far too big in this case, so I adjusted it optically to 0.2em */

h3 {    /* This is applied for semantic purposes to high-level "parts" of post page (Glossary, Relevant Reading, Comments, etc) */
    display: inline;    }    /* Needs to be inline to keep it on the same line as the <details><summary> triangular toggle */

.sectionsummary,    /* This is being used to style the <summary> headings so they stay inline with the carrot toggle (for Archive years, and high-level "parts" of post page (Glossary, Relevant Reading, Comments, etc)); also applied to V-Mobile nav words */
.archivemenu {
    font-size: 14.7px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level 2 | Fallback for browser's not processing rems */
    font-size: 0.918rem;
    cursor: pointer;
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    clear: both;
    margin-top: 2.048rem;
    margin-bottom: 1.536rem;
    padding: 0.6em 0.6em 0.5em 1em;    }    /* Finessing to be perfectly centered */
.postsectiondetails[open] .sectionsummary {
    margin-bottom: 1.536rem;    }

.m-display {
    font-size: 10.2px;    /* Mobile-V based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level 2 | Fallback for browser's not processing rems */
    font-size: 0.638rem;    /* This is the rem equivalent of the px size */
    cursor: pointer;
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    clear: both;    }

.s-display {
    font-size: 10.2px;    /* Mobile-V based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level 0 | Fallback for browser's not processing rems */
    font-size: 0.531rem;    /* This is the rem equivalent of the px size */
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2em;    }

.xs-display {
    font-size: 7.083px;    /* Mobile-V based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level -1 | Fallback for browser's not processing rems */
    /* font-size: 0.443rem; */    /* This should be the proper rem, but in Chrome it's rendering much larger than the px measurement, so commenting it out, but leaving for future reference */
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .25em;    }

.xxs-display {    /* TESTING FOR GUEST WRITER BANNER */
    font-size: 5.903px;    /* Mobile-V based on 1.2 ratio (5:6, Minor Third) typescale with 8.5px base at level 0, and this at level -1 | Fallback for browser's not processing rems */
    /* font-size: 0.369rem; */    /* This should be the proper rem, but in Chrome it's rendering much larger than the px measurement, so commenting it out, but leaving for future reference */
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .25em;    }

h4 {    /* This is reserved for sub-headings within post content */
    font-size: 21.6px;    /* Matches xl-textface size */
    font-size: 1.35rem;
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 600;
    line-height: 1.4;
    margin-top:  2.048rem;    }

.xl-textface {    /* Applied to search page input text and tag page name */
    font-size: 18px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 12.5px base at level 0, and this at level 3 | Fallback for browser's not processing rems */
    font-size: 1.125rem;    /* This is the rem equivalent of the px size */
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 400;    }    /* This font wasn't being recognized by the search page's searchbar when it was just the default in <body> so had to explicitly call it here */

h5 {    /* This is reserved for sub-headings within post content */
    font-size: 15px;     /* Matches l-textface size */
    font-size: 0.938rem;    /* This is the rem equivalent of the px size */
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 600;
    margin-top:  2.048rem;    }

.l-textface {
    font-size: 15px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 12.5px base at level 0, and this at level 1 | Fallback for browser's not processing rems */
    font-size: 0.938rem;    /* This is the rem equivalent of the px size */
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 400;    }    /* This font wasn't being recognized by QQ page unless explicitly called here */

h6 {    /* This is reserved for sub-headings within post content */
    font-size: 12.5px;    /* Matches m-textface size */
    font-size: 0.781rem;    /* This is the rem equivalent of the px size */
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 600;
    margin-top:  2.048rem;    }

.m-textface {
    font-size: 12.5px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 12.5px base at level 0, and this at level 0 | Fallback for browser's not processing rems */
    font-size: 0.781rem;    /* This is the rem equivalent of the px size */
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 400;    }    /* DOES NOT SEEM TO STILL THE CASE WITH WORK SANS !!! This font wasn't being recognized by QQ page unless explicitly called here */

.s-textface {
    font-size: 10.417px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 12.5px base at level 0, and this at level -1 | Fallback for browser's not processing rems */
    font-size: 0.651rem;    /* This is the rem equivalent of the px size */
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 400;    }    /* CHECK IF THIS IS STILL THE CASE WITH WORK SANS !!! This font wasn't being recognized by the nav searchbar when it was just the default in <body> so had to explicitly call it here */

.xs-textface {
    font-size: 8.681px;    /* Based on 1.2 ratio (5:6, Minor Third) typescale with 12.5px base at level 0, and this at level -2 | Fallback for browser's not processing rems */
    font-size: 0.543rem;    }    /* This is the rem equivalent of the px size */

#tagline {
    font-size: 14.75px;
    font-size: 0.922rem;    /* Would be same size as l-textface (0.938rem) but needed to fit whole tagline across at 1225px, so am tweaking it slightly */
}

.figcaptionspacer,
.figcaptionspacerprocess {
    display: block !important;
    line-height: 1;
    margin-top: -0.543rem !important;
    font-size: 0;    }    /* Half of caption's font-size (xs-textface) */

.figcaptionspacerprocess {
    margin-top: 0.481rem !important;    /* Overriding margin-top for captions used in Process / The Method to My Madness section only */
}

.bold,
bold,
strong {
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 600;    }

i,
em {
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-style: italic;    }

.blackbg {    /* I tried moving this to globalnavfooter.css right below .yellowhover, but it wasn't being recognized...maybe it was being overridden later in CSS...? */
    color: white;
    background-color: black;    }

.zerotracking {
    letter-spacing: -0.25em;    }

#posttext ul:not(.gallery),
#posttext ol:not(.gallery),
#process ul:not(.gallery),
#process ol:not(.gallery) {
    /* margin-top: -0.65rem; */
    margin-left: calc(2.048rem - 2.25em);    }    /* 1.25em keeps the numbers from extending into the margin */

#posttext ul:not(.gallery),
#process ul:not(.gallery) {
    list-style: disc;
    margin-left: calc(2.048rem - 0.3em);    }

#process ol {
  counter-reset: ccg-counter;
}

#posttext ol > li:not(.gallery),
#process ol > li:not(.gallery) {
  padding-left: 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: ccg-counter;
}

#posttext ul > li:not(.image-list-item),
#process ul > li:not(.image-list-item),
#posttext ol > li:not(.image-list-item),
#process ol > li:not(.image-list-item) {
  margin: 0.512rem 0;
}

#posttext ol > li:before,
#process ol > li:before {
  display: inline-block;
  width: 1.75em;
  padding-right: 0.75em;
  font-weight: bold;
  text-align: right;
  content: counter(ccg-counter);
  font-weight: bold;
}

#writtenby {
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 700;    }

.pullquote {
    font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 600;    }

input {
  font-family: font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif !important;
}

sup {
    vertical-align: super;
    font-size: 0.75em;    }

sub {
    vertical-align: sub !important;
    font-size: 0.75em !important;
}

sup a {
    border-bottom-style: none !important;    }

.archivemenu {
    font-size: 12.24px;
    font-size: 0.765rem;
}
