/* "1 lineheight" = the height of one lineheight's-worth of m-textface at 1.6 lineheight */

 /* TEXT
-------------------------------------------------- */

a {
    text-decoration: none;
    color: black;    }

#homeintro a:not(#readmore),    /* :) All the links in the home intro paragraph except "Read more" */
#postintro a, 
#posttext a:not(.vocabwordinline),    /* :) All the links in the post's text except vocab words */
figcaption a,
#postedcomment a,
#abouttext a,
#libraryentryabout a {
    /* text-decoration: underline; */
    /* text-underline-position: under; */    /* :) This places the underline under the text with extra space to prevent crossing descenders */
    /* text-decoration-color: #e2e43a; */
    border-style: none none solid none;
    border-width: 1px;
    /* padding-bottom: 0.05em; */
    border-color: #c7c7c7;
    cursor: pointer;    }
#homeintro a:hover:not(#readmore),    /* :) All the links in the home intro paragraph except "Read more" */
#postintro a:hover, 
#posttext a:not(.vocabwordinline):hover,    /* :) All the links in the post's text except vocab words */
figcaption a:hover,
#postedcomment a:hover,
#abouttext a:hover,
#libraryentryabout a:hover {
    /* text-decoration-style: double; */    /* :) Leaving this as an alternative option until I settle on final solution for link styling */
    /* background-color: #e2e43a; */    /* :) Leaving this as an alternative option until I settle on final solution for link styling */
    /* text-decoration-color: black; */
    border-style: none none solid none;
    border-width: 1px;
    /* padding-bottom: 0.05em; */
    border-color: black;    }

h1 {    /* :) This exclusively applies to the blog name; so I include padding, etc */
    font-size: 19.386px;    /* :) Mobile-V based on 1.125 ratio (8:9, Major Second) typescale with 8.5px base at level 0, and this at level 6 | Fallback for browser's not processing rems */
    font-size: 1.212rem;    /* :) This is the rem equivalent of the px size */
    font-family: 'Grotesque_Bold', 'Courier_New', Courier, Monotype;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-align: center;
    padding: 0.6em 0.8em 0.4em 0.8em;    /* :) This space should match the space between multiple lines of this type; leading = 160%, so space between = just 60% of type size */
    margin-bottom: 0.6em;    }    /* :) V-Mobile should match the space between multiple lines of this type; so leading = 160%, so space between = just 60% of type size */

h2 {     /* :) This applies to post names (home and post pages), and page names (About, Archive, Library) */
    font-size: 13.615px;    /* :) Mobile-V based on 1.125 ratio (8:9, Major Second) typescale with 8.5px base at level 0, and this at level 4 | Fallback for browser's not processing rems */
    font-size: 0.851rem;    /* :) This is the rem equivalent of the px size */
    font-family: 'Grotesque_Bold', 'Courier_New', Courier, Monotype;
    text-transform: uppercase;
    letter-spacing: 0.2em;    }    /* :) All other display faces use .25em, but it looked far too big in this case, so I adjusted it optically to 0.2em */

h3 {    /* :) This is applied for semantic purposes to high-level "parts" of post page (Glossary, Relevant Reading, Comments, etc) */
    display: inline;    }    /* :) Needs to be inline to keep it on the same line as the <details><summary> triangular toggle */

.sectionsummary {    /* :) This is being used to style the <summary> headings so they stay inline with the carrot toggle (for Archive years, and high-level "parts" of post page (Glossary, Relevant Reading, Comments, etc)); also applied to V-Mobile nav words */
    font-size: 10.758px;    /* :) V-Mobile based on 1.125 ratio (8:9, Major Second) typescale with 8.5px base at level 2, and this at level 8 | Fallback for browser's not processing rems */
    font-size: 0.672rem;    /* :) This is the rem equivalent of the px size */
    cursor: pointer;
    font-family: 'Grotesque_Bold', 'Courier_New', Courier, Monotype;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    clear: both;
    padding: 0.6em 0.6em 0.5em 1em;    /* :) Finessing to be perfectly centered */
    margin: 2.048rem 0;    }    /* :) V-Mobile top + bottom: 1 lh */
.postsectiondetails[open] .sectionsummary {
    margin-bottom: 1.536rem;    }

.s-display {
    font-size: 9.563px;    /* :) This height matches x-height of m-textface! | Mobile-V based on 1.125 ratio (8:9, Major Second) typescale with 8.5px base at level 0, and this at level 1 | Fallback for browser's not processing rems */
    font-size: 0.598rem;    /* :) This is the rem equivalent of the px size */
    font-family: 'Grotesque_Bold', 'Courier_New', Courier, Monotype;
    text-transform: uppercase;
    letter-spacing: .25em;    }

.xs-display {
    font-size: 7.556px;    /* :) Mobile-V based on 1.125 ratio (8:9, Major Second) typescale with 8.5px base at level 0, and this at level -1 | Fallback for browser's not processing rems */
    /* font-size: 0.472rem; */    /* !!!!! This should be the proper rem, but in Chrome it's rendering much larger than the px measurement */
    font-family: 'Grotesque_Bold', 'Courier_New', Courier, Monotype;
    text-transform: uppercase;
    letter-spacing: .25em;    }

h4 {    /* :) This is reserved for sub-headings within post content */
    font-size: 17.798px;    /* :) V-Mobile | Matches xl-textface size */
    font-size: 1.112rem;    /* :) This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans_Demi-Bold', 'Courier_New', Courier, Monotype;    /* :) Making the headers bold */
    margin-top:  2.048rem;
    margin-bottom: -8.196px;    /* :) 0.25 lineheight's-worth of m-textface at 1.6 lineheight */
    margin-bottom: -0.512rem;    }    /* :) This is the rem equivalent of the px size */

.xl-textface {    /* :) Applied to search page input text and tag page name */
    font-size: 17.798px;    /* :) Mobile-V based on 1.125 ratio (8:9, Major Second) typescale with 12.5px base at level 0, and this at level 3 | Fallback for browser's not processing rems */
    font-size: 1.112rem;    /* :) This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans', 'Courier_New', Courier, Monotype;    }    /* This font wasn't being recognized by the search page's searchbar when it was just the default in <body> so had to explicitly call it here */

h5 {    /* :) This is reserved for sub-headings within post content */
    font-size: 14.063px;     /* :) V-Mobile | Matches l-textface size*/
    font-size: 0.879rem;    /* :) This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans_Demi-Bold', 'Courier_New', Courier, Monotype;    /* :) Making the headers bold */
    margin-top:  2.048rem;
    margin-bottom: -8.196px;    /* :) 0.25 lineheight's-worth of m-textface at 1.6 lineheight */
    margin-bottom: -0.512rem;    }    /* :) This is the rem equivalent of the px size */

.l-textface { 
    font-size: 14.063px;    /* :) Mobile-V based on 1.125 ratio (8:9, Major Second) typescale with 12.5px base at level 0, and this at level 1 | Fallback for browser's not processing rems */
    font-size: 0.879rem;    }    /* :) This is the rem equivalent of the px size */

h6 {    /* :) This is reserved for sub-headings within post content */
    font-size: 12.5px;    /* :) V-Mobile | Matches m-textface size*/
    font-size: 0.781rem;    /* :) This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans_Demi-Bold', 'Courier_New', Courier, Monotype;    /* :) Making the headers bold */
    margin-top:  2.048rem;
    margin-bottom: -8.196px;    /* :) 0.25 lineheight's-worth of m-textface at 1.6 lineheight */
    margin-bottom: -0.512rem;    }    /* :) This is the rem equivalent of the px size */

.m-textface {
    font-size: 12.5px;    /* :) Mobile-V based on 1.125 ratio (8:9, Major Second) typescale with 12.5px base at level 0, and this at level 0 | Fallback for browser's not processing rems */
    font-size: 0.781rem;    }    /* :) This is the rem equivalent of the px size */

.s-textface {
    font-size: 11.111px;    /* :) Mobile-V based on 1.125 ratio (8:9, Major Second) typescale with 12.5px base at level 0, and this at level -1 | Fallback for browser's not processing rems */
    font-size: 0.694rem;    /* :) This is the rem equivalent of the px size */
    font-family: 'Sintesi_Sans', 'Courier_New', Courier, Monotype;    }    /* This font wasn't being recognized by the nav searchbar when it was just the default in <body> so had to explicitly call it here */

.xs-textface {
    font-size: 9.877px;    /* :) Mobile-V based on 1.125 ratio (8:9, Major Second) typescale with 12.5px base at level 0, and this at level -2 | Fallback for browser's not processing rems */
    font-size: 0.617rem;    }    /* :) This is the rem equivalent of the px size */

.bold {
    font-family: 'Sintesi_Sans_Demi-Bold', 'Courier_New', Courier, Monotype;    }

strong {
    font-family: 'Sintesi_Sans_Demi-Bold', 'Courier_New', Courier, Monotype;    }

em {
    font-family: 'Sintesi_Sans_Italic', 'Courier_New', Courier, Monotype;    }

.blackbg {    /* :) I tried moving this to globalnavfooter.css right below .yellowhover, but it wasn't being recognized...maybe it was being overridden later in CSS...? */
    color: white;
    background-color: black;    }





