
/* FINALIZE Breakpoints + text size -------------------------------------------------- */


@media only screen and (min-width: 442px) {
    html {
        font-size: 3.620vw;    } 
}

@media only screen and (min-width: 650px) {
    html {
        font-size: 23.529px;    }
}

@media only screen and (min-width: 1175px) {
    html {
        font-size: 2.003vw;    }
}

@media only screen and (min-width: 1225px) {
    html {
        font-size: 24.531px;    }
}



