body {
  font-family: 'Work Sans';
  margin-top: 0;
}
#ixmap-container {    /* This applies to the article element which holds all the post content and top part of Archive page; it is taking the place of <main> on post page, because there's only one <main> element allowed per page, but it has to split into two to allow wider #relatedposts <section> to fit between, to accomodate RR results with margins that extend beyond <main> */
  /* width: 92.857vw; */
  width: 85.714vw;
  position: relative;
  /* left: -7.143vw; */
  left: -14.286;
  margin: 2.048rem auto;
  background-color: #f5f5f5;
  font-family: 'Work Sans';
  font-weight: 600;
  z-index: 10;
}
.ixmap-county {
  stroke: #f5f5f5;
  stroke-width: 0.3;
}
.ixmap-state {
  fill: #ffffff00;
  stroke: #f5f5f5;
  stroke-width: 0.5;
  pointer-events: none;
}
#ixmap-sidebar {
  position: relative;
  left: 0px;
  display: inline-block;
  vertical-align: top;
}

/* toggle */
#ixmap-toggle {
  border: black solid 0.1rem;
  border-radius: 1rem;
  display: inline-block;
  padding: 0.1rem;
  cursor: pointer;
  vertical-align: top;
  line-height: 1;
}
.ixmap-toggle-pill-cat,
.ixmap-toggle-pill-lang {
  display: inline-block;
  padding: 0 0.4em 0.2em 0.4em;
  border-radius: 1rem;
  background-color: white;
  line-height: 1.2;
}
.ixmap-toggle-pill-on {
  background-color: black;
}
.ixmap-toggle-text-cat,
.ixmap-toggle-text-lang {
  font-weight: 600;
  color: black;
}
.ixmap-toggle-text-on {
  color: white;
}

/* legend */
.ixmap-legend-entry {
  display: inline-block;
  margin-right: 1.5em;
  margin-top: 0.75em;
}
.ixmap-dot {
  width: 0.6em;
  height: 0.6em;
  display: inline-block;
  border-radius: 0.5em;
  margin-right: 0.25em;
}
.ixmap-legend-label {
  display: inline-block;
}
#ixmap-caption {
  margin-bottom: 1.024rem;
}

/* tooltip */
#ixmap-tooltip {
  position: absolute;
  height: auto;
  padding: 0.5rem 0.75rem;
  background-color: #ffffffdd;
  border-color: black;
  border-width: 0.1rem;
  border-style: solid;
  pointer-events: none;
}
#ixmap-tooltip p {
  margin: 0 0 0.25rem 0;
  line-height: 1.4;
}
#ixmap-tooltip-topline {
  margin-bottom: 1.5rem;
}
#ixmap-tooltip-topline span {
  font-weight: 600;
  line-height: 1.5;
}
#ixmap-tooltip-cat-label,
#ixmap-tooltip-lang-label {
  font-weight: 600;
}
#ixmap-tooltip-cat-value,
#ixmap-tooltip-lang-value {
  text-transform: capitalize;
}
.hidden {
  display: none;
}
#ixmap-tooltip-cat-container,
#ixmap-tooltip-lang-container {
  display: inline-block;
}
#ixmap-tooltip-cat-container {
  line-height: 1.0;
}

/* zoom buttons */
#ixmap-zoom-container {
  position: absolute;
  /* display: none; */ /* ONLY UP TO 754px SCREEN WIDTH */
}
.ixmap-zoom-button {
  border-style: solid;
  border-width: 0.1rem;
  width: 1.1rem;
  height: 1.1rem;
  display: inline-block;
}
#ixmap-zoom-in {
  position: relative;
  left: -0.1rem;
}
.ixmap-zoom-out-disabled {
  background: url("/assets/images/blogposts/place-names/zoom-out-light.svg") no-repeat;
}
.ixmap-zoom-in-disabled {
  background: url("/assets/images/blogposts/place-names/zoom-in-light.svg") no-repeat;
}
.ixmap-zoom-out-disabled,
.ixmap-zoom-in-disabled {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  pointer-events: none;
}
.ixmap-zoom-out-enabled {
  background: url("/assets/images/blogposts/place-names/zoom-out-light.svg") no-repeat;
}
.ixmap-zoom-out-enabled:hover {
  background: url("/assets/images/blogposts/place-names/zoom-out-black.svg") no-repeat;
  background-color: rgba(0, 0, 0, 0);
}
.ixmap-zoom-in-enabled {
  background: url("/assets/images/blogposts/place-names/zoom-in-light.svg") no-repeat;
}
.ixmap-zoom-in-enabled:hover {
  background: url("/assets/images/blogposts/place-names/zoom-in-black.svg") no-repeat;
  background-color: rgba(0, 0, 0, 0);
}
.ixmap-zoom-out-enabled,
.ixmap-zoom-in-enabled {
  background-color: black;
  border-color: black;
  pointer-events: auto;
  cursor: pointer;
}
/*
@media (min-width: 754px) {
  #ixmap-zoom-container {
    display: block;
  }
}
*/
@media (min-width: 817px) {
  #ixmap-container {
    /* left: calc(50% - 46.43vw); */ /* 46.43vw = (50vw (to get to L edge of screen) - 3.57vw (1/28col)) */
    left: calc(50% - 42.857vw); /* 42.857vw = (50vw (to get to L edge of screen) - 7.143vw (2/28col)) */
  }
}
@media (min-width: 1225px) {
  #ixmap-container {
    width: 1108.333px;
    left: -233px;
  }
  #ixmap-sidebar {
    position: absolute;
    left: -233px;
    /* width: 175px; */
  }
  .ixmap-legend-entry {
    display: block;
    margin-right: 0;
    margin-top: 0;
  }
  #ixmap-toggle-label {
    margin: 0 0 0.25rem 0 !important;
    display: block !important;
  }
  #ixmap-toggle {
    display: block;
    margin-bottom: 0.5rem !important;
  }
  #ixmap-caption {
    position: absolute;
    left: -58px;
  }
}
