body {
  font-family: 'Work Sans';
  margin-top: 0;
}
#ixmap-container {
  display: inline-block;
  width: 1000px;
  margin: 0px auto;
  background-color: #f5f5f5;
  font-family: 'Work Sans';
  font-weight: 600;
}
.ixmap-county {
  stroke: #f5f5f5;
  stroke-width: 0.3;
}
.ixmap-state {
  fill: #ffffff00;
  stroke: #f5f5f5;
  stroke-width: 0.5;
  pointer-events: none;
}
#ixmap-sidebar {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

/* toggle */
#ixmap-toggle {
  border: black solid 2px;
  border-radius: 20px;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  vertical-align: top;
}
.ixmap-toggle-pill-cat,
.ixmap-toggle-pill-lang {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: white;
}
.ixmap-toggle-pill-on {
  background-color: black;
}
.ixmap-toggle-text-cat,
.ixmap-toggle-text-lang {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.ixmap-toggle-text-on {
  color: white;
}

/* legend */
.ixmap-dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 6px;
  margin-right: 6px;
}
.ixmap-legend-label {
  display: inline-block;
}

/* tooltip */
#ixmap-tooltip {
  position: absolute;
  width: 400px;
  height: auto;
  padding: 15px;
  background-color: #ffffffdd;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  pointer-events: none;
}
#ixmap-tooltip p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
#ixmap-tooltip-topline span {
  font-size: 19px;
  padding-bottom: 5px;
  font-weight: 600;
}
#ixmap-tooltip-cat-label,
#ixmap-tooltip-lang-label {
  font-weight: 600;
}
#ixmap-tooltip-cat-value,
#ixmap-tooltip-lang-value {
  text-transform: capitalize;
}
.hidden {
  display: none;
}
#ixmap-tooltip-cat-container,
#ixmap-tooltip-lang-container {
  display: inline-block;
}

/* zoom buttons */
.zoom-button rect {
  fill: black;
  stroke: 2px;
  stroke-color: black;
}
.zoom-button text {
  fill: white;
  font-size: 18px;
  text-anchor: middle;
}
.zoom-button:hover rect,
.zoom-button:hover text {
  fill: #00000000;
}
#ixmap-zoom-container {
  position: absolute;
}
.ixmap-zoom-button {
  border: 2px black solid;
  width: 25px;
  height: 25px;
  display: inline-block;
}
#ixmap-zoom-in {
  background: url("images/zoom-in-light.svg") no-repeat;
  background-color: black;
  cursor: pointer;
}
#ixmap-zoom-in:hover {
  background: url("images/zoom-in-black.svg") no-repeat;
  background-color: rgba(0, 0, 0, 0);
}
.ixmap-zoom-out-disabled {
  background: url("images/zoom-out-light.svg") no-repeat;
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  pointer-events: none;
}
.ixmap-zoom-out-enabled {
  background: url("images/zoom-out-light.svg") no-repeat;
  background-color: black;
  border-color: black;
  pointer-events: auto;
  cursor: pointer;
}
.ixmap-zoom-out-enabled:hover {
  background: url("images/zoom-out-black.svg") no-repeat;
  background-color: rgba(0, 0, 0, 0);
}
