/*
.html {
    font-size: 1em;    } */



/* STYLING THE TEXT FOR TESTING MEDIA QUERIES IN SAFARI, ON THE default.php TEMPLATE */

.text-all {    }


/* set base size (for NON- and PRE-mediaquery boxes) */

#text-rems-no-mq,
#text-rems-yes-mq {
    font-size: 1rem;
    color: red;    }

#text-ems-no-mq,
#text-ems-yes-mq {
    font-size: 1em;
    color: orange;    }

#text-vw-no-mq,
#text-vw-yes-mq {
    font-size: 1vw;
    color: green;    }

#text-px-no-mq,
#text-px-yes-mq {
    font-size: 10px;
    color: blue;    }







/* STYLING THE BOXES FOR TESTING MEDIA QUERIES IN SAFARI, ON THE default.php TEMPLATE */
.all {
    display: inline-block;
    height: 50px;
    /* font-family: 'Grotesque_Bold', Courier; */
    font-size: 8px;
    color: black;
    margin: 5px;    }


/* set base width (for NON- and PRE-mediaquery boxes) BG color */

#rems-no-mq,
#rems-yes-mq {
    width: 10rem;
    background-color: red;    }

#ems-no-mq,
#ems-yes-mq {
    width: 2.5em;
    background-color: orange;    }

#vw-no-mq,
#vw-yes-mq {
    width: 3vw;
    background-color: green;    }

#px-no-mq,
#px-yes-mq {
    width: 30px;
    background-color: blue;    }


/* set opacity on NON-mediaqueries */

#rems-no-mq,
#ems-no-mq,
#vw-no-mq,
#px-no-mq {
    opacity: 0.5;    }



/* set mediaqueries of YES-mediaqueries */

@media only screen and (min-width: 200px) {
    /*
    .html {
        font-size: 3.62vw;    }
    */
    #rems-yes-mq {
        width: 30rem;    }
    #ems-yes-mq {
        width: 15em;    }
    #vw-yes-mq {
        width: 9vw;    }
    #px-yes-mq {
        width: 45px;    }

    #text-rems-yes-mq {
        font-size: 3rem;    }
    #text-ems-yes-mq {
        font-size: 3em;    }
    #text-vw-yes-mq {
        font-size: 3vw;    }
    #text-px-yes-mq {
        font-size: 30px;    }

} /* close 442 */



@media only screen and (min-width: 442px) {
    /*
    .html {
        font-size: 3.62vw;    }
    */
    #rems-yes-mq {
        width: 30rem;    }
    #ems-yes-mq {
        width: 15em;    }
    #vw-yes-mq {
        width: 9vw;    }
    #px-yes-mq {
        width: 45px;    }

    #text-rems-yes-mq {
        font-size: 3rem;    }
    #text-ems-yes-mq {
        font-size: 3em;    }
    #text-vw-yes-mq {
        font-size: 3vw;    }
    #text-px-yes-mq {
        font-size: 30px;    }

} /* close 442 */



@media only screen and (min-width: 650px) {
    /*
    .html {
        font-size: 23.529px;   }
    */

    #rems-yes-mq {
        width: 60rem;    }
    #ems-yes-mq {
        width: 5em;    }
    #vw-yes-mq {
        width: 18vw;    }
    #px-yes-mq {
        width: 60px;    }

    #text-rems-yes-mq {
        font-size: 6rem;    }
    #text-ems-yes-mq {
        font-size: 6em;    }
    #text-vw-yes-mq {
        font-size: 6vw;    }
    #text-px-yes-mq {
        font-size: 60px;    }

} /* close 650 */



@media only screen and (min-width: 1225px) {
    /*
    .html {
        font-size: 0.1em;    }
    */
    #rems-yes-mq {
        width: 90rem;    }
    #ems-yes-mq {
        width: 25em;    }
    #vw-yes-mq {
        width: 27vw;    }
    #px-yes-mq {
        width: 75px;    }

    #text-rems-yes-mq {
        font-size: 9rem;    }
    #text-ems-yes-mq {
        font-size: 9em;    }
    #text-vw-yes-mq {
        font-size: 9vw;    }
    #text-px-yes-mq {
        font-size: 90px;    }

/*
h2 {    
    font-size: 1.4rem; */ 
    /*
    font-size: 14.688px;
    font-size: 0.918rem;
    */    /* }
p {
    font-size: 3vw;    } */

} /* close 1225 */




















