#mars-bg-img {
  width: 100%;
}

#svg-container {
    position: absolute;
    left: 10.75vw;
}

#invisible-target {
  opacity: 0;
}

.circle,
#radius-line {
  fill: none;
  stroke: black;
  stroke-width: 0.1rem;
}

#invisible-target:hover,
.circle:hover,
#radius-line:hover {
  cursor: pointer;
}

#areoid-text,
#areoid-number {
  font-size: 0.938rem;
}

#areoid-number {
  font-family: 'Work Sans', "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-weight: 600;
}

@media (min-width: 390px) {
  #areoid-text,
  #areoid-number {
    font-size: 1.125rem;
}

@media (min-width: 817px) {
  #svg-container {
    left: calc(50vw - 321px);
  }
}

@media (min-width: 1225px) {
  #svg-container {
    left: 0;
  }
}
