---
layout: default
---

  <!-- archive year section header script -->
  <script src="{{ site.baseurl }}/assets/js/archive.js">
  </script>

  <main>
    <div class="desktopcontent">
      <!-- Title of the page + any intro text -->
      <h2 class="extracontentpagetitle">
        {{ page.title }}
      </h2>
      <!-- Text for the page -->
      <span class="l-textface">
        {{ content }}
      </span>
    </div>
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    <!-- Archive year menu-->
    <div id="archivemenudesktopcontent">
      <p id="archivemenu">
      {% for year in postsByYear %}
        <span>
          <a href="{{ site.baseurl }}{{ site.url }}/archive#{{ year.name }}" id="archivemenuyear" class="sectionsummary yellowhover">
            {{ year.name }}
          </a>
        </span>
      {% endfor %}
      </p>
    </div>
  </main>
</div>

<!-- Blog articles grouped by year -->
{% for year in postsByYear %}
  <!-- Year heading -->
  <div id="archiveheadingarea">
    <h3 class="sectionsummary archivesectionsummary blackbg" id="{{ year.name }}" data-clickable-header="">
      {{ year.name }}
    </h3>
  </div>
  <!-- Area where results are per year -->
  <div class="resultarea archiveresultarea">
    {% for post in year.items %}
      {% include result.html %}
    {% endfor %}
  </div>
{% endfor %}
