{% include head-open.html %}
{% include head-title-all-but-home.html %}
{% include share-settings-common.html %}
{% include share-settings-hello.html %}
{% include head-close.html %}

<!-- This encompasses everything within <body> except for <nav>, so that there is an element that can be clicked on that will be anything except <nav>,
that will be recognized in JS menu.js script, that can have an event listener applied when it is clicked on, that will close the <nav> -->
<div id="everythingexceptnav">
  <main>
    <div class="desktopcontent">
      <!-- Title of the page -->
      <h2 class="extracontentpagetitle">
        {{ page.title }}
      </h2>
    </div>
    <div id="aboutdesktopcontent">
      <!-- Text for About page -->
      {{ content }}
    </div>
  </main>

  <!-- FORMERLY footer-sitewide SNIPPET vvv ******************************************************************** -->

              <footer role="contentinfo">
                <div id="footercontent">

                    {% include subscribe.html %}

                  <!-- Link to my Instagram profile + Twitter + portfolio -->
                  {% include follow.html %}

                </div>
              </footer>

              <!--This is the pinterest script, instructed to place right before closing </body> tag-->
              <script async defer src="{{ site.baseurl }}/assets.pinterest.com/js/pinit.js">
              </script>

              <!--This encompasses everything within <body> except for <nav>. This is so that there is an element that can be clicked on that will be anything except <nav>, that will be recognized in JS menu.js script, that can have an event listener applied when it is clicked on, that will close the <nav> -->
              </div>
              <!-- Menu has to be called here, to account for a major Safari bug: Safari renders anything measured in rems at 1px, if it comes after a <details> tag... and my menu is within a <details> tag, so it was messing up everything with rems in Safari. Moving menu to the very bottom means there is nothing in the html after it, so it is fine. The menu is styled in css to position it absolutely at the top -->
              {% include menu.html %}

              <!-- Calling the JS scripts used on everypage; they need to come after the menu is called, to else they will have no effect on the menu items they are intended for -->
              {% include scripts-sitewide.html %}

  <!--FORMERLY footer-sitewide SNIPPET ^^^ ******************************************************************** -->

    </body>
  </html>
