{% include head-open.html %}

  <!-- pre-loading the fonts that are above the fold on home page so they show up faster -->
  <link rel="preload" href="{{ site.baseurl }}/assets/fonts/GROTESQUE_BOLD_smooth.woff" as="font">
  <link rel="preload" href="{{ site.baseurl }}/assets/fonts/sintesi_sans_demi-bold-webfont.woff" as="font">
  <link rel="preload" href="{{ site.baseurl }}/assets/fonts/sintesisanslight-webfont.woff" as="font">
  <!-- This is what shows when you bookmark this page, and what's in the browser tab -->
  <title>
    {{ page.title }}
  </title>

{% include share-settings-common.html %}
{% include share-settings-other.html %}
{% include head-close.html %} <!-- AS OF NOW, INCLUDES THE OPENING <body> TAG -->

  <!-- This encompasses everything within <body> except for <nav>
  This is so that there is an element that can be clicked on that will be anything except <nav>,
  that will be recognized in JS menu.js script, that can have an event listener applied when it is clicked on, that will close the <nav> -->
  <div id="everythingexceptnav">
    <div id="blognametagline" class="mockmain">
      <!-- website name + tagline, etc -->
      <!-- using <header> to group these, so they can have the same width, etc -->
      <header>
      	<h1 class="blackbg">
      		<!-- "Curiosity-Colored Glasses" -->
      		{{ page.title }}
      	</h1>
      	<p id="tagline" class="l-textface bold">
        {{ content }}
      	</p>
      </header>
    </div>
    <main>

      <!-- Pulling in date, postglasses, author, excerpt, and tags for each post -->
      {% for post in paginator.posts %}
        <article id="homepagepost">
          <!-- Date for each article -->
          <p id="homedate" class="date m-textface bold">
              <time datetime="{{ post.date }}" pubdate="pubdate">
                  {{ post.date | date: '%d %B %Y' }}
              </time>
          </p>

          <!-- glasses + post title link to post -->
          <a href="{{ post.url }}" id="postlink">
            <!-- Post glasses icon -->
            <div class="postglassescontainer">
              <div class="stem shortstem leftstem"></div><div style="background-image: url({{ site.url }}/assets/images/blogposts/{{ post.slug }}/-l-{{ post.slug }}{% if post.leftextension %}{{ post.leftextension }}{% else %}.jpg{% endif %})" class="circle leftcircle"></div><div class="stem centerstem"></div><div style="background-image: url({{ site.url }}/assets/images/blogposts/{{ post.slug }}/-r-{{ post.slug }}{% if post.rightextension %}{{ post.rightextension }}{% else %}.jpg{% endif %})" class="circle rightcircle"></div><div class="stem shortstem rightstem"></div>
            </div>
            <!-- Name of post -->
            <h2 class="posttitle">
                {{ post.title }}
            </h2>
          </a>

          <!-- If there is a guest writer -->
          {% if post.author and post.author != "Lia Prins" %}
            <span class="guestpostbanner xxs-display">Guest post</span>
            <!-- If there is a LINK for the guest writer -->
            {% if post.authorlink %}
              <span id="writtenby" class="xs-textface bold">by</span><span class="writer s-display"><a href="{{ post.authorlink }}" target="_blank" class="yellowhover">&nbsp{{ post.author }}</a>
              </span>
            <!-- If there is NOT a LINK for the guest writer -->
            {% else %}
              <span id="writtenby" class="xs-textface bold">by</span><span class="writer s-display">&nbsp{{ post.author }}
              </span>
            {% endif %}
          <!-- "Lia Prins" to show up as default author unless a guest writer is applied in panel -->
          {% elsif post.author and post.author == "Lia Prins" %}
            <span id="writtenby" class="xs-textface bold">by</span><span class="writer s-display"><a href="https://liaprins.com" target="_blank" class="yellowhover">&nbspLia Prins</a>
            </span>
          {% endif %}

          <!-- Intro for each article -->
          <p id="homeintro" class="m-textface hyphenate">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            <!-- "Read more" -->
            <!-- I put "&nbsp" between "Read" and "more" so they would never split onto separate lines -->
            <a href="{{ post.url }}" id="readmore" class="s-display yellowhover">
                &nbspRead&nbspmore
            </a>
          </p>

          <!-- Tags: for loop pulling in the tags for each article -->
          <div id="hometaggroup" class="s-textface">
            {% for posttag in post.tags %}
              <a href="{{ site.url }}/tags/{{ posttag }}" id="hometag" class="xs-textface tag yellowhover">
                <!-- Adding the 2 x "no break spaces" (&nbsp) to act as L-padding (like for "Read more" button), because using actual padding-left measurements can separate the padding from the word if the word starts on a new line -->
                &nbsp&nbsp#{{ posttag }}
              </a>
            {% endfor %}
          </div>
        </article>
      {% endfor %}



      <!-- TEST!!! Pagination links -->
      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | relative_url }}">
            <img src="{{ site.baseurl }}/assets/images/sitewide/left-arrowhead.svg" class="paginationarrows yellowhover">
          </a>
        {% else %}
          <div class="paginationplaceholder"></div>
        {% endif %}

        <!-- <span class="pagenumbers xl-textface">{{ paginator.page }} / {{ paginator.total_pages }}</span> -->
        <span class="pagenumbers l-textface"><strong>{{ paginator.page }} / {{ paginator.total_pages }}</strong></span>

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | relative_url }}">
            <img src="{{ site.baseurl }}/assets/images/sitewide/right-arrowhead.svg" class="paginationarrows yellowhover">
          </a>
        {% else %}
          <div class="paginationplaceholder"></div>
        {% endif %}
      </div>
      {% endif %}



    </main>

<!-- FORMERLY footer-sitewide SNIPPET vvv ******************************************************************** -->

        <footer role="contentinfo">
          <div id="footercontent">

              {% include subscribe.html %}

            <!-- Link to my Instagram profile + Twitter + portfolio -->
            {% include follow.html %}

          </div>
        </footer>

        <!--This is the pinterest script, instructed to place right before closing </body> tag-->
        <script async defer src="//assets.pinterest.com/js/pinit.js">
        </script>

        <!--This encompasses everything within <body> except for <nav>. This is so that there is an element that can be clicked on that will be anything except <nav>, that will be recognized in JS menu.js script, that can have an event listener applied when it is clicked on, that will close the <nav> -->
        </div>
        <!-- Menu has to be called here, to account for a major Safari bug: Safari renders anything measured in rems at 1px, if it comes after a <details> tag... and my menu is within a <details> tag, so it was messing up everything with rems in Safari. Moving menu to the very bottom means there is nothing in the html after it, so it is fine. The menu is styled in css to position it absolutely at the top -->
        {% include menu.html %}

        <!-- Calling the JS scripts used on everypage; they need to come after the menu is called, to else they will have no effect on the menu items they are intended for -->
        {% include scripts-sitewide.html %}

<!--FORMERLY footer-sitewide SNIPPET ^^^ ******************************************************************** -->

  </body>
</html>
