/* SAVE FOR README: ZOOM INTO CTR OF GLASSES AS A WHOLE vvv */

.postglasses {
    /* width: 42.857vw; */    /* 12/28 cols */
    width: 50vw;    /* 14/28 cols */
    display: block;
    margin: 1.024rem auto 1.536rem auto;    /* top: .5 lh, bottom: .75 lh */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99%;    /* Had to make it just under 100% to prevent slightest amount of edges from peeking out from behind mask */
    -webkit-transition: background-size 0.5s;    /* for Safari */
    transition: background-size 0.5s;    
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;    }
.postglasses:hover {
    background-size: 175%;    }  

#postlink:hover > .postglasses {
    background-size: 175%;    }  

#resultglasses {
    width: 28.571vw;    /* 8/28 cols */ 
    display: block;
    margin: 0.512rem auto 1.024rem auto;    /* top: .25 lh, bottom: .5 lh */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99%;    /* Had to make it just under 100% to prevent slightest amount of edges from peeking out from behind mask */
    -webkit-transition: background-size 0.5s;    /* for Safari */
    transition: background-size 0.5s;     
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;    }
#resultglasses:hover {
    background-size: 175%;    }

/* SAVE FOR README: ZOOM INTO CTR OF GLASSES AS A WHOLE ^^^ */