/* !!!!!!!!!! 04 FEB 2017 THIS vvv IS ONLY HERE TO EXPERIMENT WITH A VOCAB IDEA !!!!!!!!!! */

#vocabdetails summary::-webkit-details-marker {
    display: none    }

#vocabdetails[open] {
    display: inline;
}

#vocabdetails[open] summary {
    background-color: black;
    color: white;    }

.vocabstyle2 {
    padding: 5px;
    cursor: pointer;    }

/* In the example text, I typed the vocab word ("vocab") again, ...
bc having the actual vocab word absolutely positioned meant the text after it overlapped it...
this style is to show that the repeated word (inside a <span>) is there */
/*
.blueunderline {
    color: blue;
    text-decoration: underline;    }
*/





/* USE THESE PROPERTIES FOR THE BASIS OF DEFINITIONS THAT APPEAR IN THE SIDEBAR (DESKTOP, H IPAD) */
#vocabdetails {
    display: inline;    }

#vocabsummary {
    position: relative;
    display: inline;    }

/* ALSO/OR MAYBE USE THIS TO BUILD A BACKGROUND FOR THE DEFINITIONS APPEARING BELOW THE WORD IN THE MAIN COLUMN...? */
#defcon { 
    /* height: 100px; */
    position: absolute;
    left: 0;
    width: 100%;    }    /* The full width of the screen */

#defconii {
    width: 950px;    /* Or use proper <body> or <main> column width via % for iPad H...? */
    margin: 0 auto;    }

#definition {  
    width: 158.34px;    /* These percents can be replaced by the right ones to represent the number of columns !!!!!!!!!! This is the % of #defcon's %, though (I think) !!!!!!!!!!! */
    float: right;    }    /* Alternatively, provide a margin-left that is equal to the number of column-widths needed on its left side to position it in the far right edgelet */



